Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

add HTML template for form page
  corehq/apps/geospatial/templates/configure_case_grouping.html
Owners: @orangejenny

add knockout JS for form page
  corehq/apps/geospatial/static/geospatial/js/configure_case_grouping.js
Owners: @orangejenny

create base config view
  corehq/apps/geospatial/views.py
Owners: none

make GeospatialConfigPage subclass from base config view
  corehq/apps/geospatial/views.py
Owners: none

implement case group view
  corehq/apps/geospatial/urls.py
  corehq/apps/geospatial/views.py
Owners: none

add case group page to navigation pane
  corehq/tabs/tabclasses.py
Owners: none

ignore: es system indices
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

fix typo
  corehq/apps/es/tests/test_elastic_sync_multiplexed_command.py
Owners: @esoergel, @amitphulera

vellum:51a317d02e021850881b109e9355373ea40e8af7
  corehq/apps/app_manager/static/app_manager/js/vellum/manifest.txt
  corehq/apps/app_manager/static/app_manager/js/vellum/src/main-components.js
  corehq/apps/app_manager/static/app_manager/js/vellum/version.txt
Owners: @orangejenny

Mark test as flaky and narrow in on assertion
  corehq/apps/events/tests/test_views.py
Owners: none

add unit tests for view
  corehq/apps/geospatial/tests/test_views.py
Owners: none

fix clearing users doesn't clear missing gps users list
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

Remove old SQL files and migrations that reference DELETED state
  corehq/sql_accessors/migrations/0012_soft_deletion.py
  corehq/sql_accessors/migrations/0014_ledger_transactions.py
  corehq/sql_accessors/migrations/0015_ledger_transactions_update.py
  corehq/sql_accessors/migrations/0055_set_form_modified_on.py
  corehq/sql_accessors/migrations/0069_drop_DELETED_references_fn.py
  corehq/sql_accessors/sql_templates/get_form_ids_for_user.sql
  corehq/sql_accessors/sql_templates/soft_delete_forms2.sql
  corehq/sql_accessors/sql_templates/soft_undelete_forms2.sql
  corehq/sql_proxy_accessors/migrations/0009_soft_delete.py
  corehq/sql_proxy_accessors/migrations/0027_add_undelete_functions.py
  corehq/sql_proxy_accessors/migrations/0051_drop_DELETED_references_fn.py
  corehq/sql_proxy_accessors/sql_templates/get_form_ids_for_user.sql
  corehq/sql_proxy_accessors/sql_templates/soft_delete_forms.sql
  corehq/sql_proxy_accessors/sql_templates/soft_undelete_forms.sql
  migrations.lock
Owners: @snopoke

Remove DELETED state from XFormInstance model
  corehq/form_processor/migrations/0095_remove_xforminstance_deleted_state.py
  corehq/form_processor/models/forms.py
  migrations.lock
Owners: @snopoke

lint
  corehq/apps/accounting/payment_handlers.py
Owners: @dannyroberts, @biyeun

Use invoice id as idempotency_key to avoid double charging
  corehq/apps/accounting/models.py
  corehq/apps/accounting/payment_handlers.py
Owners: @dannyroberts, @biyeun

prevent multiple calls to clear answer
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
Owners: @orangejenny

Refactor/rename watchSmallScreenEnabled => smallScreenListener
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
  corehq/apps/cloudcare/static/cloudcare/js/utils.js
Owners: @orangejenny

Update smallScreenListener test
  corehq/apps/cloudcare/static/cloudcare/js/spec/utils_spec.js
Owners: @orangejenny

Revert to form.soft_delete() but remove .save() + add test ensuring deleted_on is populated on soft_delete
  corehq/apps/reports/views.py
  corehq/form_processor/models/forms.py
  corehq/form_processor/tests/test_basics.py
Owners: @snopoke

migrate maintenance alerts admin page to bootstrap 5
  corehq/apps/hqwebapp/views.py
Owners: @orangejenny

update maintenance alerts admin html to bootstrap 5 stylings
  corehq/apps/hqwebapp/templates/hqwebapp/bootstrap5/maintenance_alerts.html
Owners: @orangejenny

un-split maintenance alerts admin page template, as migration is complete
  corehq/apps/hqwebapp/templates/hqwebapp/bootstrap3/maintenance_alerts.html
  corehq/apps/hqwebapp/templates/hqwebapp/maintenance_alerts.html
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/hqwebapp/maintenance_alerts.html.diff.txt
  corehq/apps/hqwebapp/views.py
Owners: @orangejenny

modify related tests
  corehq/apps/reports/tests/test_tableau_api_util.py
Owners: none

only overwrite groups that the web admin has permission to edit
  corehq/apps/reports/util.py
Owners: none

use default warning colors, they look better
  corehq/apps/hqwebapp/static/hqwebapp/scss/commcarehq/_variables.scss
Owners: @orangejenny

ensure hover text of btn-outline-danger is white
  corehq/apps/hqwebapp/static/hqwebapp/scss/commcarehq/_buttons.scss
Owners: @orangejenny

build bootstrap 5 diffs
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/stylesheets/imports/buttons._buttons.style.diff.txt
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/stylesheets/imports/includes_variables._variables.style.diff.txt
Owners: @orangejenny

improve form-group migration suggestions
  corehq/apps/hqwebapp/utils/bootstrap/changes_guide/form-group.txt
Owners: @orangejenny

ensure migration script find-replaces control-label to form-label
  corehq/apps/hqwebapp/utils/bootstrap/spec/bootstrap_3_to_5.json
Owners: @orangejenny

Init email app
  corehq/apps/email/forms.py
  corehq/apps/email/models.py
  corehq/apps/email/templates/email/email_settings.html
  corehq/apps/email/urls.py
  corehq/apps/email/views.py
  corehq/tabs/tabclasses.py
Owners: @orangejenny

Use prototype method to extend onClear for SignatureEntry
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
Owners: @orangejenny

Add signature template type to updateXformAction
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/web_form_session.js
Owners: @orangejenny

add small fix to test
  corehq/apps/user_importer/tests/test_importer.py
Owners: @stephherbers

Improve property selection for deduplication
  corehq/apps/data_interfaces/static/data_interfaces/js/case_dedupe_main.js
  corehq/apps/data_interfaces/static/data_interfaces/js/case_property_input.js
  corehq/apps/data_interfaces/templates/data_interfaces/edit_deduplication_rule.html
Owners: @orangejenny

Extend property improvement to include dedupe actions
  corehq/apps/data_interfaces/static/data_interfaces/js/case_dedupe_main.js
  corehq/apps/data_interfaces/templates/data_interfaces/edit_deduplication_rule.html
Owners: @orangejenny

Slight style changes for dedupe js
  corehq/apps/data_interfaces/static/data_interfaces/js/case_dedupe_main.js
Owners: @orangejenny

Make datasources options more clear on UI
  corehq/apps/export/forms.py
Owners: none

refactor add/remove markers to be more generic
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

refactor + code comment
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny
