Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

helper function to get today date string
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

create exportModel
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

add export button to html template
  corehq/apps/geospatial/templates/case_grouping_map.html
Owners: @orangejenny

apply bindings to export button
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

adapt getting geopoint for case search
  corehq/apps/geospatial/reports.py
Owners: none

small class rename
  corehq/apps/geospatial/reports.py
Owners: none

Refactor: make filter_version_query a staticmethod
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

update tests
  corehq/apps/reports/tests/test_case_data.py
Owners: none

lint fix
  corehq/apps/geospatial/reports.py
Owners: none

Fix error FieldError: Cannot resolve keyword 'plan' into field.
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

remove billing-support
  settings.py
Owners: none

Collapsible tiles
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/content.less
Owners: @orangejenny

Collapse big tiles only on small screens
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
Owners: @orangejenny

Make line breaks fall on word boundaries
  corehq/apps/hqwebapp/static/hqwebapp/css/proptable.css
  corehq/apps/reports/standard/cases/case_data.py
Owners: @orangejenny, @esoergel

Collapse big tiles only on when multi select is enabled
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Fix linting
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Remove unused disbursement algorithms
  corehq/apps/geospatial/models.py
  corehq/apps/geospatial/tests/test_models.py
Owners: none

adds tests for view
  corehq/apps/domain/tests/test_views.py
Owners: none

asserts for critical parameter
  corehq/apps/domain/tests/test_views.py
  corehq/apps/domain/views/settings.py
Owners: none

adds tests for restrictions to maintenance alerts view
  corehq/apps/hqwebapp/tests/test_views.py
Owners: @orangejenny

adds tearDown for class
  corehq/apps/hqwebapp/tests/test_views.py
Owners: @orangejenny

Log for location filter check
  corehq/apps/saved_reports/models.py
Owners: none

Remove redundant dependencies
  requirements/base-requirements.in
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/prod-requirements.txt
  requirements/requirements.txt
  requirements/test-requirements.txt
Owners: @dimagi/dependency-watchers

Fix collapsible tiles for grouped tiles
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/content.less
Owners: @orangejenny

restrict web apps usage if too many mobile UCRs
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/main.js
  corehq/apps/cloudcare/templates/cloudcare/formplayer_home.html
  corehq/apps/cloudcare/views.py
  settings.py
Owners: @orangejenny

Move case list and map in rows
  corehq/apps/cloudcare/templates/formplayer/case_list.html
Owners: @orangejenny

Put check for multi select and small screen back in
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Revert "Bump get-func-name from 2.0.0 to 2.0.2"
  yarn.lock
Owners: @dimagi/dependency-watchers

restrict web apps usage if too many mobile UCRs
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/main.js
  corehq/apps/cloudcare/templates/cloudcare/formplayer_home.html
  corehq/apps/cloudcare/views.py
  settings.py
Owners: @orangejenny

unset profile properly
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @esoergel

map endpoint action to correct field
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Scroll to top of tile when collapsing
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

restrict web apps usage if too many mobile UCRs
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/main.js
  corehq/apps/cloudcare/templates/cloudcare/formplayer_home.html
  corehq/apps/cloudcare/views.py
  settings.py
Owners: @orangejenny

Updated and refactoring dedupe rule creation tests
  corehq/apps/data_interfaces/tests/test_deduplication_rules.py
Owners: none

use accessors in custom_data task
  corehq/apps/users/custom_data.py
Owners: @esoergel

Improve `update` logic
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @esoergel

Switch "edit_user" page to use new accessors
  corehq/apps/users/forms.py
  corehq/apps/users/static/users/js/custom_data_fields.js
  corehq/apps/users/static/users/js/edit_commcare_user.js
  corehq/apps/users/templates/users/edit_commcare_user.html
  corehq/apps/users/views/mobile/users.py
Owners: @esoergel, @orangejenny

update user model internal accessors
  corehq/apps/users/models.py
Owners: @esoergel

Add "pop" method - this was harder than expected
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @esoergel

Remove last of update_metadata and pop_metadata
  corehq/apps/api/tests/test_user_updates.py
  corehq/apps/callcenter/tests/test_utils.py
  corehq/apps/users/models.py
Owners: @snopoke, @esoergel

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
