Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

isort
  corehq/apps/geospatial/tests/test_views.py
  corehq/apps/geospatial/views.py
Owners: none

Change button behavior to disable on page load and enable on form change in email app
  corehq/apps/email/static/email/js/email_settings.js
  corehq/apps/email/templates/email/email_settings.html
Owners: @orangejenny

add empty display element
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

Add email model to dump.py and deletion.py
  corehq/apps/domain/deletion.py
  corehq/apps/dump_reload/sql/dump.py
Owners: none

Add clean up command for custom variables
  corehq/apps/app_manager/management/commands/delete_case_list_custom_variables_xml.py
  corehq/apps/app_manager/migrations/0029_delete_case_list_custom_variable_xml.py
  corehq/apps/app_manager/models.py
  corehq/apps/app_manager/tests/test_delete_case_list_custom_variables_xml.py
Owners: @orangejenny

Fix migration dependency
  corehq/apps/app_manager/migrations/0029_delete_case_list_custom_variable_xml.py
Owners: @orangejenny

Charge stripe before create payment record
  corehq/apps/accounting/payment_handlers.py
Owners: @dannyroberts, @biyeun

Lock migrations
  migrations.lock
Owners: none

Update SignatureEntry wording
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
Owners: @orangejenny

Use explicit if statement
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
Owners: @orangejenny

Correctly map dedupe user properties to their system equivalents
  corehq/apps/data_interfaces/pillow.py
  corehq/apps/data_interfaces/tests/test_case_deduplication.py
  corehq/ex-submodules/casexml/apps/case/tests/xml/__init__.py
  corehq/ex-submodules/casexml/apps/case/tests/xml/test_parser.py
  corehq/ex-submodules/casexml/apps/case/xml/parser.py
Owners: none

Added migration script for existing case_name actions
  corehq/apps/data_interfaces/migrations/0034_case_name_actions.py
Owners: none

update docker/login-action to v3 from v1
  .github/workflows/tests.yml
Owners: @orangejenny

update remaining actions
  .github/workflows/tests.yml
Owners: @orangejenny

changes toggle type
  corehq/toggles/__init__.py
Owners: none

vellum:9f539058684ab5d834fcad120e5b41c9550536b6
  corehq/apps/app_manager/static/app_manager/js/vellum/src/main-components.js
  corehq/apps/app_manager/static/app_manager/js/vellum/version.txt
Owners: @orangejenny

initial changes
  corehq/apps/es/README.rst
Owners: @esoergel, @amitphulera

Address PR Feedback
  corehq/apps/data_interfaces/migrations/0034_case_name_actions.py
  corehq/ex-submodules/casexml/apps/case/xml/parser.py
  migrations.lock
Owners: none

Include webuser-owned cases by default
  corehq/apps/reports/standard/cases/utils.py
Owners: @esoergel

Add web users to Worker Activity Report
  corehq/apps/reports/standard/monitoring.py
Owners: none

Mock out calls to ES
  corehq/apps/saved_reports/tests/end_to_end/test_scheduled_reports.py
  corehq/apps/saved_reports/tests/test_scheduled_reports.py
Owners: none

Add web users to Project Performance report
  corehq/apps/reports/standard/project_health.py
Owners: none

Update test case to include web user
  corehq/apps/reports/tests/test_case_list_report.py
Owners: none

Add [Web Users] as default selection
  corehq/apps/reports/filters/users.py
Owners: none

uses custom configured SNS configuration set and SNS secret for log_email_event
  corehq/apps/hqwebapp/tasks.py
  corehq/apps/hqwebapp/urls.py
  corehq/apps/hqwebapp/views.py
  corehq/ex-submodules/dimagi/utils/django/email.py
Owners: @orangejenny

Use conditional logic for invoice generation
  corehq/apps/accounting/invoicing.py
Owners: @dannyroberts, @biyeun

use create_or_get for customer invoice
  corehq/apps/accounting/invoicing.py
  corehq/apps/accounting/tests/test_race_condition_is_prevented.py
Owners: @dannyroberts, @biyeun

Save an evidence of an attempt
  corehq/apps/accounting/payment_handlers.py
Owners: @dannyroberts, @biyeun

Update comments
  corehq/apps/accounting/invoicing.py
Owners: @dannyroberts, @biyeun

prevent 500 error
  corehq/motech/repeaters/views/repeat_records.py
Owners: @kaapstorm

include deleted repeaters when fetching a repeat records repeater
  corehq/motech/repeaters/models.py
Owners: @kaapstorm

add tests for repeater method
  corehq/motech/repeaters/tests/test_models.py
Owners: @kaapstorm

Inlined _is_duplicate_endpoint_id
  corehq/apps/app_manager/views/utils.py
Owners: @orangejenny

Updated _duplicate_endpoint_ids to check form id
  corehq/apps/app_manager/views/utils.py
Owners: @orangejenny

Updated similar error message to match
  corehq/apps/app_manager/views/utils.py
Owners: @orangejenny

Removed unused import
  corehq/apps/data_interfaces/models.py
Owners: none

Updated allowed heights logic in case tile definition UI
  corehq/apps/app_manager/static/app_manager/js/details/column.js
Owners: @orangejenny

Add log
  corehq/apps/accounting/payment_handlers.py
Owners: @dannyroberts, @biyeun

Add new test and remove unwanted test
  corehq/apps/accounting/tests/test_autopay.py
Owners: @dannyroberts, @biyeun

Do not make idempotency_key required
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
