Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

add es5 rather that es2 as dependency
  docker/hq-compose.yml
Owners: @millerdev

update docker localsettings
  docker/localsettings.py
Owners: @millerdev

update string to text/keyword in case_serach mappings
  corehq/apps/es/mappings/case_search_mapping.py
Owners: @esoergel, @amitphulera

fix tests as per new mappings
  corehq/apps/es/tests/test_client.py
  corehq/apps/es/tests/test_migration_operations.py
Owners: @esoergel, @amitphulera

update string to text/keyword in app mappings
  corehq/apps/es/mappings/app_mapping.py
Owners: @esoergel, @amitphulera

fix remaining tests
  corehq/apps/es/tests/test_migration_operations.py
Owners: @esoergel, @amitphulera

remove duplicate variable assignments
  docker/localsettings.py
Owners: @millerdev

lint
  docker/localsettings.py
  testsettings.py
Owners: @millerdev

review feedback: rename fn
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
  corehq/apps/es/tests/test_elastic_sync_multiplexed_command.py
Owners: @esoergel, @amitphulera

suggestion from review
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
  corehq/apps/es/tests/test_elastic_sync_multiplexed_command.py
Owners: @esoergel, @amitphulera

update docstrings to convey info about closed indices
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

add separate tests for closed index and known indices
  corehq/apps/es/tests/test_elastic_sync_multiplexed_command.py
Owners: @esoergel, @amitphulera

fix docstrings
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

Change state_operations, add one more condition
  corehq/apps/accounting/migrations/0087_invoice_unique_constraints.py
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

Rename constraint
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

removes padding from panel-body on small screens
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/form.less
Owners: @orangejenny

adds padding to left align questions. Makes overflow scrollable
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/form.less
Owners: @orangejenny

prevent elements from overflowing
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/form.less
Owners: @orangejenny

lint
  corehq/apps/accounting/interface.py
Owners: @dannyroberts, @biyeun

leverate __str__ in software plan version
  corehq/apps/accounting/interface.py
  corehq/apps/accounting/templates/accounting/partials/subscriptions_tab.html
Owners: @dannyroberts, @biyeun

Add lastUpdatedByUserInfo to the top-level of tracked entity also
  corehq/motech/dhis2/schema.py
  corehq/motech/dhis2/tests/data/tracked_entity_instance_1.json
Owners: @kaapstorm

Add Schema back with a noqa
  corehq/motech/dhis2/schema.py
Owners: @kaapstorm

Add createdByUserInfo also
  corehq/motech/dhis2/schema.py
  corehq/motech/dhis2/tests/data/tracked_entity_instance_1.json
Owners: @kaapstorm

Add property to reference action form
  corehq/apps/app_manager/models.py
Owners: @orangejenny

clean up migrations
  corehq/apps/email/migrations/0001_initial.py
  corehq/apps/email/migrations/0001_squashed_0002_auto_20230918_0436.py
  corehq/apps/email/migrations/0002_auto_20230918_0436.py
  migrations.lock
Owners: none

DRY up and remove file when new answer is blank
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
Owners: @orangejenny

Add feature flag for clickable icons
  corehq/toggles/__init__.py
Owners: none

Call soft_delete_forms directly
  corehq/apps/reports/views.py
Owners: none

Do not set style if it is not configured
  corehq/apps/app_manager/suite_xml/features/case_tiles.py
  corehq/apps/app_manager/tests/test_suite_custom_case_tiles.py
Owners: @orangejenny

Check for not none instead of truthy
  corehq/apps/app_manager/suite_xml/features/case_tiles.py
Owners: @orangejenny

use any
  corehq/apps/app_manager/suite_xml/features/case_tiles.py
Owners: @orangejenny

Change name to soft_delete_forms
  corehq/apps/reports/templates/reports/form/partials/single_form.html
  corehq/apps/reports/urls.py
  corehq/apps/reports/views.py
Owners: @orangejenny

Add command for populating missing deleted_on values
  corehq/form_processor/management/commands/populate_missing_delete_on_values.py
Owners: @snopoke

Fix indentation
  corehq/motech/dhis2/tests/data/tracked_entity_instance_1.json
Owners: @kaapstorm

Rename variables
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Update translations
  locale/en/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/django.po
  locale/hi/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/django.po
  locale/pt/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/django.po
Owners: none

update comment
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

implement additional model fields
  corehq/apps/geospatial/migrations/0004_auto_20230920_0821.py
  corehq/apps/geospatial/models.py
  migrations.lock
Owners: none

implement case grouping form
  corehq/apps/geospatial/forms.py
Owners: none

add form validation
  corehq/apps/geospatial/forms.py
Owners: none

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
