Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @joxl, @millerdev, @proteusvacuum, @snopoke, @mkangia, @kaapstorm, @calellowitz, @esoergel, @dannyroberts, @biyeun, @gherceg, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/Makefile @joxl

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/elastic.py @proteusvacuum @joxl
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @millerdev @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @joxl
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/case_search/ @proteusvacuum
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @proteusvacuum @joxl
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/standard/cases/ @proteusvacuum @esoergel
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @millerdev @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz
/corehq/util/es/ @joxl

/custom/icds_reports/ @calellowitz
/custom/icds_reports/templates/ @calellowitz
/custom/icds_reports/static/ @calellowitz

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev @joxl

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev @joxl
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @joxl
/testapps/test_elasticsearch/ @joxl

/yarn.lock @dimagi/dependency-watchers

Add `es_test` decorator to unlabeled Elasticsearch tests
  testapps/test_elasticsearch/tests/test_prod_es_indices.py
  testapps/test_elasticsearch/tests/test_require_elastic.py
  testapps/test_pillowtop/models.py
  testapps/test_pillowtop/tests/test_domain_pillow.py
  testapps/test_pillowtop/tests/test_form_pillow.py
  testapps/test_pillowtop/tests/test_group_pillow.py
  testapps/test_pillowtop/tests/test_reindexer.py
  testapps/test_pillowtop/tests/test_report_case_pillow.py
  testapps/test_pillowtop/tests/test_report_xform_pillow.py
  testapps/test_pillowtop/tests/test_user_pillow.py
  testapps/test_pillowtop/tests/test_xform_pillow.py
Owners: @joxl

Update get_all_expected_es_indices() to use authoritative index collection
  corehq/pillows/utils.py
Owners: @calellowitz, @joxl

add api_editable_keys list to CommCareUser class
  corehq/apps/api/resources/v0_5.py
  corehq/apps/users/models.py
Owners: @esoergel

Add ability to print mappings fetched from Elasticsearch index.
  corehq/pillows/management/commands/print_elastic_mappings.py
  corehq/pillows/management/commands/utils.py
  corehq/pillows/mappings/tests/__init__.py
  corehq/pillows/mappings/tests/test_utils.py
  corehq/pillows/mappings/utils.py
  testapps/test_elasticsearch/tests/test_prod_es_indices.py
Owners: @calellowitz, @joxl

Update `update_es_mapping` command with new options
  corehq/ex-submodules/pillowtop/management/commands/update_es_mapping.py
Owners: @dannyroberts, @calellowitz

Add transforms to mapping printing utility
  corehq/pillows/management/commands/print_elastic_mappings.py
Owners: @calellowitz, @joxl

Update unique `case_search` mapping
  corehq/pillows/mappings/case_search_mapping.py
  corehq/pillows/mappings/tests/test_case_search_mapping.py
Owners: @calellowitz, @joxl

Add migration to update mappings
  corehq/pillows/migrations/0001_elastic_v5_mapping_compatibility.py
  corehq/pillows/migrations/__init__.py
  corehq/pillows/utils.py
  migrations.lock
Owners: @calellowitz, @joxl

Update Elastic mapping `multi_field` property types
  corehq/pillows/mappings/case_mapping.py
  corehq/pillows/mappings/case_search_mapping.py
  corehq/pillows/mappings/domain_mapping.py
  corehq/pillows/mappings/group_mapping.py
  corehq/pillows/mappings/reportcase_mapping.py
  corehq/pillows/mappings/reportxform_mapping.py
  corehq/pillows/mappings/sms_mapping.py
  corehq/pillows/mappings/user_mapping.py
  corehq/pillows/mappings/xform_mapping.py
Owners: @calellowitz, @joxl

Update staging.yaml
  scripts/staging.yaml
Owners: none

Update staging.yaml
  scripts/staging.yaml
Owners: none

add: SQLBaseCOWINRepeater
  custom/cowin/repeaters.py
Owners: none

add: SQLBeneficiaryRegistrationRepeater
  custom/cowin/repeaters.py
Owners: none

add: SQLBeneficiaryVaccinationRepeater
  custom/cowin/repeaters.py
Owners: none

add: repeater class map
  corehq/motech/const.py
Owners: @kaapstorm

add: UnknownRepeater Exception class
  corehq/motech/repeaters/exceptions.py
Owners: @kaapstorm

attempt to use a different Redis DB for tests
  settingshelper.py
  testsettings.py
Owners: none

match production redis client settings
  dev_settings.py
Owners: none

isort
  settingshelper.py
Owners: none

move: repeater_class_map from const to util because of circular import issue
  corehq/motech/const.py
  corehq/motech/repeaters/utils.py
Owners: @kaapstorm

isort
  corehq/motech/repeaters/models.py
Owners: @kaapstorm

update: object creation logic
  corehq/motech/repeaters/models.py
Owners: @kaapstorm

add: tests to verify __new__ works correctly
  corehq/motech/repeaters/tests/test_proxy_models.py
Owners: @kaapstorm

update all cache configs
  settingshelper.py
  testsettings.py
Owners: none

Test `parse_date()`
  corehq/apps/reports/tests/test_case_display.py
Owners: none

add: sync fns to the cowin repeaters
  custom/cowin/repeaters.py
Owners: none

remove unused import
  testsettings.py
Owners: none

add: migration command for cowin repeaters
  corehq/motech/repeaters/management/commands/migrate_beneficiaryregistrationrepeater.py
  corehq/motech/repeaters/management/commands/migrate_beneficiaryvaccinationrepeater.py
Owners: @kaapstorm

add: cowin repeaters to parent migration cmd
  corehq/motech/repeaters/management/commands/migrate_all_repeaters.py
Owners: @kaapstorm

lint
  corehq/motech/repeaters/management/commands/migrate_all_repeaters.py
Owners: @kaapstorm

update: migration file
  corehq/motech/repeaters/migrations/0006_add_proxy_models.py
Owners: @kaapstorm

updating files: scripts/staging.yaml
  scripts/staging.yaml
Owners: none

updating files: scripts/staging.yaml
  scripts/staging.yaml
Owners: none

Updated whitespace
  corehq/apps/app_manager/tests/test_suite_multi_select_case_list.py
Owners: @orangejenny

match production redis settings
  dev_settings.py
Owners: none

update cache configuration for tests
  dev_settings.py
  settingshelper.py
  testsettings.py
Owners: none

isort
  settingshelper.py
Owners: none

docs note
  dev_settings.py
Owners: none

verify function is only called in tests
  settingshelper.py
Owners: none

WIP
  corehq/apps/app_manager/suite_xml/post_process/workflow.py
  corehq/apps/app_manager/suite_xml/sections/entries.py
  corehq/apps/app_manager/tests/data/suite/multi_select_case_list.xml
  corehq/apps/app_manager/tests/test_suite_multi_select_case_list.py
  corehq/apps/app_manager/xform.py
Owners: @orangejenny
