Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

only build relevant bootstrap5 bundles and exclude migrated bootstrap5 files that break build
  corehq/apps/hqwebapp/management/commands/build_requirejs.py
Owners: @orangejenny

Remove unused method
  corehq/apps/reports/models.py
Owners: @AddisonDunn

more debugging
  corehq/apps/hqwebapp/static/hqwebapp/js/500.js
Owners: @orangejenny

update Countries syntax to accurately use API
  corehq/apps/es/domains.py
Owners: @esoergel, @amitphulera

Remove usage of XFormInstance.DELETED
  corehq/apps/data_pipeline_audit/dbacessors.py
  corehq/apps/data_pipeline_audit/management/commands/find_sql_forms_not_in_es.py
  corehq/apps/domain/tests/test_delete_domain.py
  corehq/form_processor/backends/sql/dbaccessors.py
  corehq/form_processor/models/forms.py
Owners: @snopoke

Remove sql references to deleted form state
  corehq/form_processor/models/forms.py
  corehq/sql_accessors/migrations/0068_remove_deleted_state.py
  corehq/sql_accessors/sql_templates/get_form_ids_for_user_2.sql
  corehq/sql_accessors/sql_templates/soft_delete_forms_3.sql
  corehq/sql_accessors/sql_templates/soft_undelete_forms_3.sql
  corehq/sql_proxy_accessors/migrations/0050_remove_deleted_state.py
  corehq/sql_proxy_accessors/sql_templates/get_form_ids_for_user_2.sql
  corehq/sql_proxy_accessors/sql_templates/soft_delete_forms_3.sql
  corehq/sql_proxy_accessors/sql_templates/soft_undelete_forms_3.sql
  migrations.lock
Owners: @snopoke

change usage to match documentation
  corehq/apps/es/domains.py
Owners: @esoergel, @amitphulera

Update translations
  locale/en/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/djangojs.po
  locale/fr/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/djangojs.po
  locale/hi/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/djangojs.po
  locale/pt/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/django.po
Owners: none

combine validation errors
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

add keywords in unit test
  corehq/apps/geospatial/tests/test_views.py
Owners: none

Update comment
  custom/dfci_swasth/rules/custom_actions.py
Owners: none

Revert copying request params in get_request_params
  corehq/apps/api/resources/messaging_event/pagination.py
  corehq/apps/api/resources/messaging_event/utils.py
  corehq/apps/api/resources/v0_5.py
Owners: none

Update custom_actions.py
  custom/dfci_swasth/rules/custom_actions.py
Owners: none

Update comment
  custom/dfci_swasth/rules/custom_actions.py
Owners: none

Filter out no-op operations (remove + add) for indexes
  corehq/apps/userreports/rebuild.py
Owners: @calellowitz

delete prefix addition in hqmodules
  corehq/apps/hqwebapp/static/hqwebapp/js/hqModules.js
Owners: @orangejenny

add function in BaseOperation class to test if mapping is incompatible
  corehq/apps/es/migration_operations.py
Owners: @esoergel, @amitphulera

pass in es_versions in every operation class and make it avaialble to the operation class
  corehq/apps/es/migration_operations.py
Owners: @esoergel, @amitphulera

update run and reverse_run to acknowledge es_versions
  corehq/apps/es/migration_operations.py
Owners: @esoergel, @amitphulera

update deconstruct so that es_versions would be avaialble in migration files
  corehq/apps/es/migration_operations.py
Owners: @esoergel, @amitphulera

add new tests for the changes
  corehq/apps/es/management/commands/make_elastic_migration.py
  corehq/apps/es/tests/test_migration_operations.py
Owners: @esoergel, @amitphulera

update exiting tests to include es_versions in deconstruct
  corehq/apps/es/tests/test_migration_operations.py
Owners: @esoergel, @amitphulera

update TestMakeElasticMigrationCommand to ensure it respects passed in es_versions param
  corehq/apps/es/tests/test_command_make_elastic_migration.py
Owners: @esoergel, @amitphulera

remove es6! prefix here
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/common.js
Owners: @orangejenny

create dict outside of for loop
  corehq/apps/es/domains.py
Owners: @esoergel, @amitphulera

add ref back in
  corehq/apps/hqwebapp/static/hqwebapp/js/500.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/common.js
Owners: @orangejenny

test removal of reference
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/common.js
Owners: @orangejenny

adds map to gps capture page
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/gps_capture.html
  corehq/apps/geospatial/views.py
Owners: @orangejenny

Add a partial index on deleted_on for XFormInstance
  corehq/form_processor/migrations/0094_add_partial_index_xforms.py
  corehq/form_processor/models/forms.py
  migrations.lock
Owners: @snopoke

Implement function to remove residual indices
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

Just delete dictionary field on migration revert
  corehq/apps/app_manager/management/commands/migrate_case_list_custom_variables.py
  corehq/apps/app_manager/tests/test_migrate_case_list_custom_variables.py
Owners: @orangejenny

update existing migration files to include es_versions
  corehq/apps/es/migrations/0001_bootstrap_es_indexes.py
  corehq/apps/es/migrations/0002_add_tombstones.py
  corehq/apps/es/migrations/0003_add_assigned_location_ids.py
  corehq/apps/es/migrations/0004_make_new_indexes.py
  corehq/apps/es/migrations/0005_add_epoch_as_valid_date_to_forms.py
Owners: @esoergel, @amitphulera

use getAttr to access is_instance
  corehq/apps/app_manager/suite_xml/post_process/workflow.py
Owners: @orangejenny

Revert "remove usage of XFormInstance.DELETED (part 1)"
  corehq/apps/data_pipeline_audit/dbacessors.py
  corehq/apps/data_pipeline_audit/management/commands/find_sql_forms_not_in_es.py
  corehq/apps/domain/tests/test_delete_domain.py
  corehq/form_processor/backends/sql/dbaccessors.py
  corehq/form_processor/models/forms.py
  corehq/sql_accessors/migrations/0068_remove_deleted_state.py
  corehq/sql_accessors/sql_templates/get_form_ids_for_user_2.sql
  corehq/sql_accessors/sql_templates/soft_delete_forms_3.sql
  corehq/sql_accessors/sql_templates/soft_undelete_forms_3.sql
  corehq/sql_proxy_accessors/migrations/0050_remove_deleted_state.py
  corehq/sql_proxy_accessors/sql_templates/get_form_ids_for_user_2.sql
  corehq/sql_proxy_accessors/sql_templates/soft_delete_forms_3.sql
  corehq/sql_proxy_accessors/sql_templates/soft_undelete_forms_3.sql
  migrations.lock
Owners: @snopoke

Revert "Add a partial index on deleted_on for XFormInstance"
  corehq/form_processor/migrations/0094_add_partial_index_xforms.py
  corehq/form_processor/models/forms.py
  migrations.lock
Owners: @snopoke

add comment and remove es6 prefix
  corehq/apps/hqwebapp/templates/hqwebapp/partials/requirejs.html
Owners: @orangejenny

Use constant for breadcrumb width offset
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/constants.js
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Programatically collapse small screen search filters on 'search'
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
  corehq/apps/cloudcare/templates/formplayer/query_view.html
Owners: @orangejenny

back to previous state
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/common.js
  corehq/apps/hqwebapp/templates/hqwebapp/partials/requirejs.html
Owners: @orangejenny

Use user types tuple util consistently
  corehq/apps/reports/filters/users.py
  corehq/apps/reports/models.py
Owners: @AddisonDunn

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
