Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

disable dynamic search on initializing
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Fix bug
  corehq/apps/app_manager/management/commands/migrate_case_list_custom_variables.py
  corehq/apps/app_manager/tests/test_migrate_case_list_custom_variables.py
Owners: @orangejenny

Add web users to Project Performance report
  corehq/apps/reports/standard/project_health.py
Owners: none

lint
  corehq/apps/reports/generic.py
Owners: none

add text overflow handling
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-common/notifications.less
Owners: @orangejenny

Fix map styling when small screen sticky header exists
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

cleanup couch domain after test
  corehq/apps/reports/tests/test_tasks.py
Owners: none

revent dynamic search on render
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

check event types to enable dynamic search
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

check if e.originalEvent is defined
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

fix regex
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
  corehq/apps/cloudcare/static/cloudcare/js/utils.js
Owners: @orangejenny

Write raw sql commands to add index concurrently
  corehq/apps/accounting/migrations/0087_invoice_unique_constraints.py
Owners: @dannyroberts, @biyeun

Execute SQL outside a transaction
  corehq/apps/accounting/migrations/0087_invoice_unique_constraints.py
Owners: @dannyroberts, @biyeun

Add tracking header option
  corehq/messaging/emailbackends/aws/forms.py
  corehq/messaging/emailbackends/aws/models.py
Owners: @orangejenny, @mkangia

Add location filtering based on user locations in the base filter + update the references of get_value() in BaseFilter with correct arguments
  corehq/apps/reports/views.py
  corehq/apps/reports_core/filters.py
  corehq/apps/userreports/reports/util.py
  corehq/apps/userreports/reports/view.py
Owners: @calellowitz

Add tabs to GPS capture page
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/gps_capture.html
  corehq/apps/geospatial/templates/manage_gps_data.html
  corehq/apps/geospatial/views.py
Owners: @orangejenny

Add banner with redirect link
  corehq/apps/geospatial/templates/manage_gps_data.html
Owners: @orangejenny

Add text about page to top of page
  corehq/apps/geospatial/templates/manage_gps_data.html
Owners: @orangejenny

Add marker management to GPS capture map
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Collapse map on tab switch and remove marker on button click
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/manage_gps_data.html
Owners: @orangejenny

Rename function
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Fix linting
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Refactor a bit
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Support geocoding and do slight refactor
  corehq/apps/geospatial/templates/manage_gps_data.html
Owners: @orangejenny

Add geocoder support
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

adds help link
  corehq/toggles/__init__.py
Owners: none

Temp. logs to check staging issue
  corehq/apps/reports_core/filters.py
Owners: none

remove unused function input parameter
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

change variable name for defaultMarker colours
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

add todo for code refactor
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

update warnings for elasticsearch5 urllib
  corehq/warnings.py
Owners: @millerdev

update string to text/keyword in form mappings
  corehq/apps/es/mappings/xform_mapping.py
Owners: @esoergel, @amitphulera

add mapping transform util for converting string to text and keyword
  corehq/apps/es/tests/test_migration_operations.py
  corehq/pillows/management/commands/print_elastic_mappings.py
Owners: @esoergel, @amitphulera, @calellowitz

remove null_value from text field as it is not supported and does not make sense
  corehq/apps/es/mappings/case_search_mapping.py
Owners: @esoergel, @amitphulera

expose 9200 port of es5
  docker/hq-compose-services.yml
  testsettings.py
Owners: @millerdev

update string to text/keyword in group mappings
  corehq/apps/es/mappings/group_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in sms mappings
  corehq/apps/es/mappings/sms_mapping.py
Owners: @esoergel, @amitphulera

remove remove geohash, geohash_prefix, geohash_precision, lat_lon
  corehq/apps/es/mappings/xform_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in case mappings
  corehq/apps/es/mappings/case_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in domain mappings
  corehq/apps/es/mappings/domain_mapping.py
Owners: @esoergel, @amitphulera

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
