Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

Update setting label
  corehq/apps/domain/forms.py
Owners: none

Fix test
  corehq/apps/domain/tests/test_forms.py
Owners: none

Add a new column "note" in InvoiceBase
  corehq/apps/accounting/migrations/0086_add_note_in_invoice_models.py
  corehq/apps/accounting/models.py
  migrations.lock
Owners: @dannyroberts, @biyeun

update pillow docs
  docs/change_feeds.rst
  docs/pillows.rst
Owners: none

use case_id instead of _id
  corehq/apps/hqcase/api/get_list.py
Owners: @esoergel

Add unit tests + code cleanup
  corehq/apps/domain/deletion.py
  corehq/apps/dump_reload/sql/dump.py
  corehq/apps/email/forms.py
  corehq/apps/email/models.py
  corehq/apps/email/templates/email/gateway_list.html
  corehq/apps/email/tests/__init__.py
  corehq/apps/email/tests/test_views.py
  corehq/apps/email/urls.py
  corehq/apps/email/views.py
Owners: @orangejenny

remove console logs
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

change default geo point case property value
  corehq/apps/geospatial/const.py
  corehq/apps/geospatial/migrations/0003_auto_20230908_0737.py
  migrations.lock
Owners: none

keep save button persistent
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

make user filters private
  corehq/apps/es/users.py
Owners: @esoergel, @amitphulera

update string to text/keyword in app mappings
  corehq/apps/es/mappings/app_mapping.py
Owners: @esoergel, @amitphulera

add geospatial README
  corehq/apps/geospatial/README.md
Owners: none

add warning message when changing case property
  corehq/apps/geospatial/forms.py
  corehq/apps/geospatial/static/geospatial/js/geo_config.js
Owners: @orangejenny

small modal wording change
  corehq/apps/data_dictionary/templates/data_dictionary/base.html
Owners: @esoergel, @orangejenny

rename const
  corehq/apps/geospatial/const.py
  corehq/apps/geospatial/migrations/0003_auto_20230908_0927.py
  corehq/apps/geospatial/models.py
  corehq/apps/geospatial/reports.py
  corehq/apps/geospatial/tests/test_utils.py
  corehq/apps/geospatial/tests/test_views.py
  migrations.lock
Owners: none

prefill gps data
  corehq/apps/geospatial/views.py
Owners: none

update string to text/keyword in sms mappings
  corehq/apps/es/mappings/sms_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in form mappings
  corehq/apps/es/mappings/xform_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in domain mappings
  corehq/apps/es/mappings/domain_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in case_serach mappings
  corehq/apps/es/mappings/case_search_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in case mappings
  corehq/apps/es/mappings/case_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in group mappings
  corehq/apps/es/mappings/group_mapping.py
Owners: @esoergel, @amitphulera

remove null_value from text field as it is not supported and does not make sense
  corehq/apps/es/mappings/case_search_mapping.py
Owners: @esoergel, @amitphulera

expose 9200 port of es5
  docker/hq-compose-services.yml
  testsettings.py
Owners: @millerdev

add es5 rather that es2 as dependency
  docker/hq-compose.yml
Owners: @millerdev

update warnings for elasticsearch5 urllib
  corehq/warnings.py
Owners: @millerdev

remove remove geohash, geohash_prefix, geohash_precision, lat_lon
  corehq/apps/es/mappings/xform_mapping.py
Owners: @esoergel, @amitphulera

update docker localsettings
  docker/localsettings.py
Owners: @millerdev

add validation for retreiving lat/lon
  corehq/apps/geospatial/views.py
Owners: none

update string to text/keyword in app mappings
  corehq/apps/es/mappings/app_mapping.py
Owners: @esoergel, @amitphulera

update docker localsettings
  docker/localsettings.py
Owners: @millerdev

update string to text/keyword in domain mappings
  corehq/apps/es/mappings/domain_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in sms mappings
  corehq/apps/es/mappings/sms_mapping.py
Owners: @esoergel, @amitphulera

update warnings for elasticsearch5 urllib
  corehq/warnings.py
Owners: @millerdev

update string to text/keyword in form mappings
  corehq/apps/es/mappings/xform_mapping.py
Owners: @esoergel, @amitphulera

expose 9200 port of es5
  docker/hq-compose-services.yml
  testsettings.py
Owners: @millerdev

update string to text/keyword in case mappings
  corehq/apps/es/mappings/case_mapping.py
Owners: @esoergel, @amitphulera

remove remove geohash, geohash_prefix, geohash_precision, lat_lon
  corehq/apps/es/mappings/xform_mapping.py
Owners: @esoergel, @amitphulera

remove null_value from text field as it is not supported and does not make sense
  corehq/apps/es/mappings/case_search_mapping.py
Owners: @esoergel, @amitphulera

add mapping transform util for converting string to text and keyword
  corehq/apps/es/tests/test_migration_operations.py
  corehq/pillows/management/commands/print_elastic_mappings.py
Owners: @esoergel, @amitphulera, @calellowitz

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
