Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @joxl, @millerdev, @proteusvacuum, @snopoke, @mkangia, @kaapstorm, @calellowitz, @esoergel, @dannyroberts, @biyeun, @gherceg, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/Makefile @joxl

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/elastic.py @proteusvacuum @joxl
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @millerdev @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @joxl
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/case_search/ @proteusvacuum
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @proteusvacuum @joxl
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/standard/cases/ @proteusvacuum @esoergel
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @millerdev @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz
/corehq/util/es/ @joxl

/custom/icds_reports/ @calellowitz
/custom/icds_reports/templates/ @calellowitz
/custom/icds_reports/static/ @calellowitz

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev @joxl

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev @joxl
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @joxl
/testapps/test_elasticsearch/ @joxl

/yarn.lock @dimagi/dependency-watchers

Get TRANSIFEX_TOKEN from github secrets
  .github/workflows/update-translations.yml
Owners: @orangejenny

Update staging.yaml
  scripts/staging.yaml
Owners: none

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Try again
  .github/workflows/update-translations.yml
Owners: @orangejenny

Try pip install
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Toggle only element visibility, don't rm the HTML
  corehq/apps/cloudcare/templates/form_entry/templates.html
Owners: @orangejenny

updating files: scripts/staging.yaml
  scripts/staging.yaml
Owners: none

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Recreate geopoint_value field added in #31402
  corehq/pillows/mappings/case_search_mapping.py
Owners: @calellowitz, @joxl

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Update translations.
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.po
  locale/es/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/djangojs.po
  locale/fr/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/djangojs.po
  locale/fra/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/djangojs.po
  locale/hi/LC_MESSAGES/django.po
  locale/hi/LC_MESSAGES/djangojs.po
  locale/hin/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/djangojs.po
  locale/por/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/djangojs.po
  locale/pt/LC_MESSAGES/django.po
  locale/pt/LC_MESSAGES/djangojs.po
  locale/sw/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/djangojs.po
Owners: none

Fix missing default value on Django 3
  corehq/apps/fixtures/tests/test_views.py
  corehq/apps/fixtures/views.py
Owners: none

updating files: scripts/staging.yaml
  scripts/staging.yaml
Owners: none

Silence a lot of the output in update-translations.sh github workflow
  .github/workflows/update-translations.yml
Owners: @orangejenny

Update translations.
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.po
  locale/es/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/djangojs.po
  locale/fr/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/djangojs.po
  locale/fra/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/djangojs.po
  locale/hi/LC_MESSAGES/django.po
  locale/hi/LC_MESSAGES/djangojs.po
  locale/hin/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/djangojs.po
  locale/por/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/djangojs.po
  locale/pt/LC_MESSAGES/django.po
  locale/pt/LC_MESSAGES/djangojs.po
  locale/sw/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/djangojs.po
Owners: none

Add workflow for running update-translations [ci skip]
  .github/workflows/update-translations.yml
  scripts/update-translations.sh
Owners: @orangejenny
