Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

Not all modules have case_details
  corehq/apps/app_manager/helpers/validators.py
Owners: @orangejenny

add new metrics for form_attachments
  corehq/blobs/metadata.py
Owners: @millerdev

DRY up code
  corehq/blobs/metadata.py
Owners: @millerdev

Move report restriction condition to get_report_content in saved_reports/models.py + lint
  corehq/apps/reports/views.py
  corehq/apps/saved_reports/models.py
Owners: none

remove console.logs and check if date changes for dynamic search
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
  corehq/apps/cloudcare/static/cloudcare/js/utils.js
Owners: @orangejenny

Missing quotes
  corehq/apps/app_manager/templates/app_manager/partials/build_errors.html
Owners: @orangejenny

creates an object with from_address and connection since they are binded
  corehq/apps/hqwebapp/tasks.py
  corehq/ex-submodules/dimagi/utils/django/email.py
Owners: @orangejenny

passes from_email and connection as object to send_mail_async
  corehq/apps/domain/views/accounting.py
  corehq/apps/domain/views/feedback.py
  corehq/apps/domain/views/internal.py
  corehq/apps/hqwebapp/tasks.py
  corehq/apps/registration/utils.py
  corehq/apps/userreports/views.py
  corehq/apps/users/views/mobile/users.py
  corehq/messaging/scheduling/models/content.py
  corehq/motech/requests.py
  corehq/util/soft_assert/api.py
Owners: @orangejenny, @calellowitz, @esoergel, @mkangia, @kaapstorm

Update test case to include web user
  corehq/apps/reports/tests/test_case_list_report.py
Owners: none

Remove unused method
  corehq/apps/reports/models.py
Owners: @AddisonDunn

Use user types tuple util consistently
  corehq/apps/reports/filters/users.py
  corehq/apps/reports/models.py
Owners: @AddisonDunn

lint
  corehq/apps/reports/filters/users.py
  corehq/apps/reports/models.py
  corehq/apps/reports/standard/cases/utils.py
Owners: @AddisonDunn, @esoergel

rm COMMCARE_USER_TERM
  corehq/apps/hqwebapp/templatetags/hq_shared_tags.py
  corehq/apps/reports/models.py
  corehq/apps/reports/templates/reports/filters/filter_users.html
  settings.py
Owners: @orangejenny, @AddisonDunn

Include webuser-owned cases by default
  corehq/apps/reports/standard/cases/utils.py
Owners: @esoergel

Add [Web Users] as default selection
  corehq/apps/reports/filters/users.py
Owners: none

Remove now-useless class
  corehq/apps/reports/generic.py
Owners: none

rm sync fn used only in tests
  corehq/apps/callcenter/sync_usercase.py
  corehq/apps/callcenter/tests/test_indicators.py
  corehq/apps/callcenter/tests/test_location_owners.py
  corehq/apps/callcenter/tests/test_utils.py
Owners: @snopoke

Add web users to Project Performance report
  corehq/apps/reports/standard/project_health.py
Owners: none

pedantic changes to sync_usercase
  corehq/apps/callcenter/sync_usercase.py
Owners: @snopoke

merge sync_usercase and sync_usercases
  corehq/apps/app_manager/tasks.py
  corehq/apps/callcenter/sync_usercase.py
  corehq/apps/callcenter/tests/test_utils.py
  corehq/apps/users/tests/retire.py
Owners: @orangejenny, @snopoke, @esoergel

Add web users to Worker Activity Report
  corehq/apps/reports/standard/monitoring.py
Owners: none

lint
  corehq/apps/reports/generic.py
Owners: none

everything in this class was redundant
  corehq/apps/reports/standard/cases/basic.py
  corehq/apps/reports/standard/inspect.py
Owners: @esoergel

lint
  corehq/apps/reports/filters/users.py
  corehq/apps/reports/models.py
  corehq/apps/reports/standard/cases/utils.py
Owners: @AddisonDunn, @esoergel

everything in this class was redundant
  corehq/apps/reports/standard/cases/basic.py
  corehq/apps/reports/standard/inspect.py
Owners: @esoergel

Remove now-useless class
  corehq/apps/reports/generic.py
Owners: none

lint
  corehq/apps/reports/generic.py
Owners: none

merge sync_usercase and sync_usercases
  corehq/apps/app_manager/tasks.py
  corehq/apps/callcenter/sync_usercase.py
  corehq/apps/callcenter/tests/test_utils.py
  corehq/apps/users/tests/retire.py
Owners: @orangejenny, @snopoke, @esoergel

rm sync fn used only in tests
  corehq/apps/callcenter/sync_usercase.py
  corehq/apps/callcenter/tests/test_indicators.py
  corehq/apps/callcenter/tests/test_location_owners.py
  corehq/apps/callcenter/tests/test_utils.py
Owners: @snopoke

pedantic changes to sync_usercase
  corehq/apps/callcenter/sync_usercase.py
Owners: @snopoke

Mock out calls to ES
  corehq/apps/saved_reports/tests/end_to_end/test_scheduled_reports.py
  corehq/apps/saved_reports/tests/test_scheduled_reports.py
Owners: none

Update bootstrap5 variables + diffs
  corehq/apps/hqwebapp/static/hqwebapp/scss/commcarehq/_variables_bootstrap3.scss
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/stylesheets/imports/includes_variables._variables.style.diff.txt
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/stylesheets/imports/includes_variables._variables_bootstrap3.style.diff.txt
Owners: @orangejenny

Add tests
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

Add label to forms
  corehq/apps/app_manager/static/app_manager/js/details/column.js
Owners: @orangejenny

Linting
  corehq/apps/app_manager/static/app_manager/js/details/column.js
Owners: @orangejenny

Update translations
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.po
  locale/es/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/djangojs.po
  locale/fr/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/djangojs.po
  locale/fra/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/djangojs.po
  locale/hi/LC_MESSAGES/django.po
  locale/hi/LC_MESSAGES/djangojs.po
  locale/hin/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/djangojs.po
  locale/por/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/djangojs.po
  locale/pt/LC_MESSAGES/django.po
  locale/pt/LC_MESSAGES/djangojs.po
  locale/sw/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/djangojs.po
Owners: none

Refactor: update form validation, remove print, update view in urls.py
  corehq/apps/email/forms.py
  corehq/apps/email/tests/test_email_form.py
  corehq/apps/email/urls.py
  corehq/apps/email/views.py
Owners: none

fixes failing test
  corehq/apps/geospatial/tests/test_views.py
Owners: none

adds help text
  corehq/apps/geospatial/filters.py
Owners: none

gives a better name
  corehq/apps/geospatial/views.py
Owners: none

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
