Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

use indices_info instead of get_indices as it will also list closed indices
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

add tests for calc props filter for domains
  corehq/apps/reports/tests/test_tasks.py
Owners: none

add filter for active domains only
  corehq/apps/reports/tasks.py
  corehq/apps/reports/tests/test_tasks.py
Owners: none

remove ES filter for udpated within the last week
  corehq/apps/reports/tasks.py
Owners: none

Disable conditional repeat record migration
  corehq/motech/repeaters/dbaccessors.py
  corehq/motech/repeaters/models.py
  corehq/motech/repeaters/tests/test_models.py
Owners: @kaapstorm

Improve test cleanup
  corehq/apps/accounting/tests/utils.py
  corehq/apps/data_interfaces/tests/test_auto_case_updates.py
  corehq/motech/repeaters/expression/tests.py
  corehq/motech/repeaters/tests/test_data_registry_case_update_repeater.py
  corehq/motech/repeaters/tests/test_dbaccessors.py
  corehq/motech/repeaters/tests/test_repeater.py
Owners: @dannyroberts, @biyeun, @kaapstorm

Improve efficiency of delete_all_repeat_records
  corehq/motech/repeaters/dbaccessors.py
Owners: @kaapstorm

Optimize is_deleted query
  corehq/motech/repeaters/models.py
Owners: @kaapstorm

Use keyword argument instead of kwargs.pop(...)
  corehq/ex-submodules/dimagi/utils/couch/migration.py
Owners: none

Remove unused method
  corehq/ex-submodules/dimagi/utils/couch/migration.py
Owners: none

Share submodel specs between Couch and SQL mixins
  corehq/ex-submodules/dimagi/utils/couch/migration.py
Owners: none

Add location filtering based on user locations in the base filter + update the references of get_value() in BaseFilter with correct arguments
  corehq/apps/reports/views.py
  corehq/apps/reports_core/filters.py
  corehq/apps/userreports/reports/util.py
  corehq/apps/userreports/reports/view.py
Owners: @calellowitz

Update migration
  corehq/apps/domain/deletion.py
  corehq/apps/dump_reload/sql/dump.py
  corehq/apps/email/migrations/0001_squashed_0002_auto_20230918_0436.py
  corehq/apps/email/migrations/0002_auto_20230918_0436.py
  migrations.lock
Owners: none

remove unused dependency
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

Add marker management to GPS capture map
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

use get instead of pop for user gps point
  corehq/apps/geospatial/views.py
Owners: none

Fix lint issues
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

use get instead of pop for user gps point
  corehq/apps/geospatial/tests/test_views.py
  corehq/apps/geospatial/views.py
Owners: none

Update migration
  corehq/apps/domain/deletion.py
  corehq/apps/dump_reload/sql/dump.py
  corehq/apps/email/migrations/0001_squashed_0002_auto_20230918_0436.py
  corehq/apps/email/migrations/0002_auto_20230918_0436.py
  migrations.lock
Owners: none

Use the domain-table_id hash as the sheet name for data source exports
  corehq/apps/export/models/new.py
Owners: none

Update rules to determine the sheet name
  corehq/apps/export/models/new.py
Owners: none

sort while dealing with indices
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

add test
  corehq/apps/es/tests/test_elastic_sync_multiplexed_command.py
Owners: @esoergel, @amitphulera

add some logging to display the final results
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

add the subcommand in management command
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

disable cluster routing after replicas are set
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

disable dynamic search for date picker updates
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Add EXCEL_MAX_SHEET_NAME_LENGTH const
  corehq/apps/export/const.py
  corehq/apps/export/models/new.py
Owners: none

Collapse map on tab switch and remove marker on button click
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/manage_gps_data.html
Owners: @orangejenny

Add useful comment
  corehq/apps/export/models/new.py
Owners: none

Update Developer setup Mac for JDK 17 install
  DEV_SETUP_MAC.md
Owners: none

Rename function
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Fix linting issues
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Change EXPORT_DATA_SOURCE_DATA's tag to TAG_CUSTOM
  corehq/toggles/__init__.py
Owners: none

Create DetailVariable directly
  corehq/apps/app_manager/suite_xml/sections/details.py
Owners: @orangejenny

fix bootstrap tab javascript usage in sticky_tabs for migration to bootstrap 5
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/sticky_tabs.js
Owners: @orangejenny

fix bootstrap modal usage in main.js for migration to bootstrap 5
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/main.js
Owners: @orangejenny

remove button usage as no longer relevant with migration to bootstrap 5
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/main.js
Owners: @orangejenny

disable dynamic search while query field is initalizing
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

rebuild bootstrap 5 diffs
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/main.js.diff.txt
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/sticky_tabs.js.diff.txt
Owners: @orangejenny

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
