Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @joxl, @millerdev, @proteusvacuum, @snopoke, @mkangia, @kaapstorm, @calellowitz, @esoergel, @dannyroberts, @biyeun, @gherceg, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/Makefile @joxl

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/elastic.py @proteusvacuum @joxl
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @millerdev @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @joxl
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/case_search/ @proteusvacuum
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @proteusvacuum @joxl
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/standard/cases/ @proteusvacuum @esoergel
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @millerdev @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz
/corehq/util/es/ @joxl

/custom/icds_reports/ @calellowitz
/custom/icds_reports/templates/ @calellowitz
/custom/icds_reports/static/ @calellowitz

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev @joxl

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev @joxl
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @joxl
/testapps/test_elasticsearch/ @joxl

/yarn.lock @dimagi/dependency-watchers

Update settingshelper.py
  settingshelper.py
Owners: none

move to be alongside test DB updates
  testsettings.py
Owners: none

update docker settings
  docker/localsettings.py
Owners: @millerdev, @joxl

also upgrading npm to version 7 (14 / 2) of node, as the two are coupled
  DEV_SETUP.md
  package.json
  yarn.lock
Owners: @dimagi/dependency-watchers

move to const.py file in api app
  corehq/apps/api/const.py
  corehq/apps/api/resources/v0_5.py
  corehq/apps/users/models.py
Owners: @esoergel

updating files: scripts/staging.yaml
  scripts/staging.yaml
Owners: none

Improve error on metrics provider lookup failure
  corehq/util/metrics/__init__.py
Owners: @esoergel

updating files: scripts/staging.yaml
  scripts/staging.yaml
Owners: none

typo
  corehq/ex-submodules/pillowtop/migrations/0006_add_geopoint_to_case_search_index.py
Owners: @dannyroberts, @calellowitz

remove code related to explicitly linking reports
  corehq/apps/linked_domain/tasks.py
  corehq/apps/userreports/templates/userreports/edit_report_config.html
  corehq/apps/userreports/templates/userreports/partials/link_reports.html
  corehq/apps/userreports/templates/userreports/reportbuilder/configure_report.html
Owners: @gherceg, @orangejenny

remove code related to explicitly linking keywords
  corehq/apps/linked_domain/tasks.py
  corehq/apps/reminders/templates/reminders/keyword_list.html
  corehq/apps/reminders/templates/reminders/link_keywords_modal.html
Owners: @gherceg, @orangejenny

update logic determining context passed to copy app form
  corehq/apps/app_manager/views/view_generic.py
Owners: @orangejenny

Code review: rename pprint to print_formatted
  corehq/pillows/management/commands/print_elastic_mappings.py
  corehq/pillows/management/commands/tests/test_utils.py
  corehq/pillows/management/commands/utils.py
Owners: @calellowitz, @joxl

remove remaining unused imports
  corehq/apps/linked_domain/tasks.py
Owners: @gherceg

Add workflow for running update-translations
  .github/workflows/update-translations.yml
  scripts/update-translations.sh
Owners: @orangejenny

Code review: Rename ElasticMappingEncoder and make it fully generic
  corehq/pillows/management/commands/print_elastic_mappings.py
  corehq/pillows/management/commands/tests/test_utils.py
  corehq/pillows/management/commands/utils.py
Owners: @calellowitz, @joxl

[temp] Run update-translations workflow on pushes to update-translations-workflow branch
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

[temp] remove tests to prevent them from running while i am debugging
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yml
Owners: @orangejenny

Remove master requirement from update-translations.sh
  scripts/update-translations.sh
Owners: none

Remove more dev-oriented checks from update-translations.sh
  scripts/update-translations.sh
Owners: none

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

case.search.title prep work
  corehq/apps/app_manager/models.py
Owners: @orangejenny

fix release manager tests
  corehq/apps/linked_domain/tests/test_release_manager.py
Owners: @gherceg

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

add logic to continueAction to pass along selected values
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/utils/util.js
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

fix keyword release tests
  corehq/apps/linked_domain/tests/test_release_manager.py
Owners: @gherceg

Catch and notify on metrics provider error
  corehq/util/metrics/__init__.py
Owners: @esoergel

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Add all-in-one page for offboarding
  corehq/apps/accounting/views.py
  corehq/apps/hqadmin/forms.py
  corehq/apps/hqadmin/templates/hqadmin/superuser_management.html
  corehq/apps/hqadmin/urls.py
  corehq/apps/hqadmin/views/users.py
  corehq/tabs/tabclasses.py
Owners: @dannyroberts, @biyeun, @orangejenny

Update staging.yaml
  scripts/staging.yaml
Owners: none

Debugging
  .github/workflows/update-translations.yml
Owners: @orangejenny

Cleanup
  .github/workflows/update-translations.yml
Owners: @orangejenny
