Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @dimagi/ush-tech, @zandre-eng, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
#
# Contributors can added themselves as "Code Owners" for specific parts of the
# codebase by adding their Github username next to any number of folders or files.
# For pull requests that make changes to these folders or files, code owners are
# automatically added as a "Reviewer" to the pull request and are hence, notified
# about the changes.
# Code Owners can share feedback or concerns over these Pull Requests, though
# it is not mandatory for them to do so.
# Adding yourself as a Code Owner, is also a good way to stay updated with changes
# in code areas you are interested in.


/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/couch_helpers.py @millerdev
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/util/pagination.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/case_search/ @dimagi/ush-tech
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/cleanup/management/commands/populate_sql_model_from_couch_model.py @millerdev
/corehq/apps/cloudcare/ @dimagi/ush-tech @orangejenny
/corehq/apps/commtrack/ @esoergel
/corehq/apps/data_dictionary/ @esoergel @orangejenny @zandre-eng
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny @biyeun
/corehq/apps/hqwebapp/apps.py @gherceg
/corehq/apps/hqwebapp/two_factor_methods.py @gherceg
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/settings/views.py @gherceg
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/sso/ @biyeun
/corehq/apps/styleguide/ @orangejenny @biyeun
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/ex-submodules/dimagi/utils/couch/migration.py @millerdev
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

Improve Data Forwarding view load time
  corehq/motech/repeaters/models.py
  corehq/motech/repeaters/templates/repeaters/partials/repeater_row.html
  corehq/motech/repeaters/tests/test_models.py
  corehq/motech/repeaters/views/repeaters.py
Owners: @kaapstorm

Set expected diff based on django version
  corehq/motech/repeaters/tests/test_couchsqlmigration.py
Owners: @kaapstorm

Split iter_rates with wait time into separate method
  corehq/project_limits/rate_limiter.py
Owners: none

Improve Data Forwarding view load time
  corehq/motech/repeaters/models.py
  corehq/motech/repeaters/templates/repeaters/partials/repeater_row.html
  corehq/motech/repeaters/tests/test_models.py
  corehq/motech/repeaters/views/repeaters.py
  corehq/motech/repeaters/views/tests/test_repeat_records.py
Owners: @kaapstorm

Address PR feedback
  corehq/apps/commtrack/models.py
  corehq/apps/locations/models.py
  corehq/apps/users/models.py
  corehq/motech/generic_inbound/models.py
  corehq/motech/repeaters/models.py
Owners: @esoergel, @kaapstorm

Add no-op migrations in preparation for 4.2
  corehq/apps/data_interfaces/migrations/0038_alter_caseduplicate_potential_duplicates.py
  corehq/blobs/migrations/0014_alter_deletedblobmeta_id.py
  migrations.lock
Owners: @millerdev

Update lockfile after django-field-audit upgrade
  migrations.lock
Owners: none

Update API Key Expiration on IDP saves
  corehq/apps/sso/models.py
  corehq/apps/sso/tests/test_models.py
Owners: @biyeun

Update translations
  locale/en/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/django.po
  locale/hi/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/django.po
  locale/pt/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/django.po
Owners: none

Consider any scope capacity in get_wait_time_for_access
  corehq/project_limits/rate_limiter.py
Owners: none

Updated modal hiding
  corehq/apps/registry/static/registry/js/registry_edit.js
Owners: none

Translated light_color_scheme from less to sass
  corehq/apps/hqwebapp/static/registry/scss/light_color_scheme.scss
Owners: @orangejenny, @biyeun

Updated HTML files with tool's suggestions
  corehq/apps/registry/templates/registry/partials/audit_logs.html
  corehq/apps/registry/templates/registry/registry_edit.html
  corehq/apps/registry/templates/registry/registry_list.html
Owners: none

Translated registry from less to sass
  corehq/apps/hqwebapp/static/registry/scss/registry.scss
Owners: @orangejenny, @biyeun

Manual updates to audit_logs.html
  corehq/apps/registry/templates/registry/partials/audit_logs.html
Owners: none

Manual updates to registry_list.html
  corehq/apps/registry/templates/registry/registry_list.html
Owners: none

Manual updates to registry_edit.html
  corehq/apps/registry/templates/registry/registry_edit.html
Owners: none

Renamed less files to scss
  corehq/apps/hqwebapp/static/registry/scss/light_color_scheme.scss
  corehq/apps/hqwebapp/static/registry/scss/registry.scss
  corehq/apps/registry/templates/registry/registry_edit.html
  corehq/apps/registry/templates/registry/registry_list.html
Owners: @orangejenny, @biyeun

Added @use_bootstrap5
  corehq/apps/registry/views.py
Owners: none

Renamed js dependencies
  corehq/apps/registry/static/registry/js/registry_actions.js
  corehq/apps/registry/static/registry/js/registry_edit.js
  corehq/apps/registry/static/registry/js/registry_list.js
  corehq/apps/registry/static/registry/js/registry_logs.js
Owners: none

Replaced date range picker with tempus dominus
  corehq/apps/registry/static/registry/js/registry_logs.js
  corehq/apps/registry/views.py
Owners: none

Fix test
  corehq/motech/repeaters/tests/test_couchsqlmigration.py
Owners: @kaapstorm
