Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

Add [Web Users] as default selection
  corehq/apps/reports/filters/users.py
Owners: none

update config
  corehq/apps/hqwebapp/tests/data/bootstrap5_diff_config.json
Owners: @orangejenny

add todo comments post migration
  corehq/apps/analytics/static/analytix/js/hubspot.js
Owners: @biyeun

only build bootstrap 5 bundles for files in migrated bootstrap 5 apps wiht unique bundle names, and allow ability to specify files that break bootstrap 3 build
  corehq/apps/hqwebapp/management/commands/build_requirejs.py
Owners: @orangejenny

add es6 prefix to all but one bootstrap5_loader reference and leave note for the one reference not updated
  corehq/apps/hqwebapp/static/hqwebapp/js/500.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/common.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/hq-bug-report.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/sticky_tabs.js
  corehq/apps/hqwebapp/static/hqwebapp/js/hqModules.js
Owners: @orangejenny

fix bad path reference for bootstrap5_loader
  corehq/apps/hqwebapp/templates/hqwebapp/partials/requirejs.html
Owners: @orangejenny

it's not necessary to attach bootstrap5 to window
  corehq/apps/hqwebapp/templates/hqwebapp/partials/requirejs.html
Owners: @orangejenny

rebuild bootstrap 5 diffs
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/common.js.diff.txt
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/hq-bug-report.js.diff.txt
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/sticky_tabs.js.diff.txt
Owners: @orangejenny

adds map to gps capture page
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/gps_capture.html
  corehq/apps/geospatial/views.py
Owners: @orangejenny

Add SignaturePad dependency
  corehq/apps/cloudcare/templates/formplayer/dependencies.html
  package.json
  yarn.lock
Owners: @orangejenny, @dimagi/dependency-watchers

Add SignatureEntry entry type and template
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
  corehq/apps/cloudcare/templates/form_entry/templates.html
Owners: @orangejenny

Mark SignatureEntry answers clean the same as FileEntry
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/form_ui.js
Owners: @orangejenny

Add SignatureEntry test
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/spec/entries_spec.js
Owners: @orangejenny

Add a 'clear' button for SignatureEntry
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
  corehq/apps/cloudcare/templates/form_entry/templates.html
Owners: @orangejenny

Add duplicate_invoice_id in Invoice model and populate it
  corehq/apps/accounting/migrations/0086_add_duplicate_invoice_id_to_invoice_model.py
  corehq/apps/accounting/migrations/0086_add_note_in_invoice_models.py
  corehq/apps/accounting/models.py
  migrations.lock
Owners: @dannyroberts, @biyeun

Refactor: duplicate invoice update using Q
  corehq/apps/accounting/migrations/0086_add_duplicate_invoice_id_to_invoice_model.py
Owners: @dannyroberts, @biyeun

Return restricted choices with location_safe filter
  corehq/apps/userreports/reports/filters/choice_providers.py
Owners: @calellowitz

refactor; move function; remove self
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

create new view for gps users
  corehq/apps/geospatial/urls.py
  corehq/apps/geospatial/views.py
Owners: none

add view decorators
  corehq/apps/geospatial/views.py
Owners: none

unit test
  corehq/apps/geospatial/tests/test_views.py
Owners: none

validate length
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Add tabs to GPS capture page
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/gps_capture.html
  corehq/apps/geospatial/templates/manage_gps_data.html
  corehq/apps/geospatial/views.py
Owners: @orangejenny

Add banner with redirect link
  corehq/apps/geospatial/templates/manage_gps_data.html
Owners: @orangejenny

rename _is_mapping_incompatible to _should_skip_operation
  corehq/apps/es/migration_operations.py
  corehq/apps/es/migrations/0001_bootstrap_es_indexes.py
Owners: @esoergel, @amitphulera

python has lists :D
  corehq/apps/es/migration_operations.py
Owners: @esoergel, @amitphulera

marks item for location capture
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

pass dataItemList to set coordinates;cleanup coordinates
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

populates coordinates on map click
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

lint
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

rename endpoint
  corehq/apps/geospatial/urls.py
Owners: none

remove error messaging
  corehq/apps/users/views/__init__.py
Owners: @esoergel

Add text about page to top of page
  corehq/apps/geospatial/templates/manage_gps_data.html
Owners: @orangejenny

update the pre-commit hook to handle deleted files
  git-hooks/pre-commit.sh
Owners: none

remove cases_received signal
  corehq/ex-submodules/casexml/apps/case/signals.py
  corehq/ex-submodules/casexml/apps/case/tests/test_signals.py
  corehq/ex-submodules/casexml/apps/case/xform.py
Owners: none

Continue to connect signals after removing cases_received signal
  corehq/ex-submodules/casexml/apps/case/signals.py
  corehq/ex-submodules/casexml/apps/case/xform.py
Owners: none

Initialize casexml signals in a better manner
  corehq/ex-submodules/casexml/apps/case/apps.py
  corehq/ex-submodules/casexml/apps/case/signals.py
  corehq/ex-submodules/casexml/apps/case/xform.py
Owners: none

Include webuser-owned cases by default
  corehq/apps/reports/standard/cases/utils.py
Owners: @esoergel

Revert "Revert "remove usage of XFormInstance.DELETED (part 1)""
  corehq/apps/data_pipeline_audit/dbacessors.py
  corehq/apps/data_pipeline_audit/management/commands/find_sql_forms_not_in_es.py
  corehq/apps/domain/tests/test_delete_domain.py
  corehq/form_processor/backends/sql/dbaccessors.py
  corehq/form_processor/models/forms.py
  corehq/sql_accessors/migrations/0068_remove_deleted_state.py
  corehq/sql_accessors/sql_templates/get_form_ids_for_user_2.sql
  corehq/sql_accessors/sql_templates/soft_delete_forms_3.sql
  corehq/sql_accessors/sql_templates/soft_undelete_forms_3.sql
  corehq/sql_proxy_accessors/migrations/0050_remove_deleted_state.py
  corehq/sql_proxy_accessors/sql_templates/get_form_ids_for_user_2.sql
  corehq/sql_proxy_accessors/sql_templates/soft_delete_forms_3.sql
  corehq/sql_proxy_accessors/sql_templates/soft_undelete_forms_3.sql
  migrations.lock
Owners: @snopoke

Revert "Revert "Add a partial index on deleted_on for XFormInstance""
  corehq/form_processor/migrations/0094_add_partial_index_xforms.py
  corehq/form_processor/models/forms.py
  migrations.lock
Owners: @snopoke
