Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

Revert "add tests for repeater method"
  corehq/motech/repeaters/models.py
  corehq/motech/repeaters/tests/test_models.py
Owners: @kaapstorm

Simplify grid template for case tiles
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
Owners: @orangejenny

add btn class for handling click in view
  corehq/apps/cloudcare/templates/formplayer/case_list.html
Owners: @orangejenny

fix flake8 error
  corehq/motech/repeaters/views/repeat_records.py
Owners: @kaapstorm

add tests for repeater method
  corehq/motech/repeaters/tests/test_models.py
Owners: @kaapstorm

Update translations
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.po
  locale/es/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/djangojs.po
  locale/fr/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/djangojs.po
  locale/fra/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/djangojs.po
  locale/hi/LC_MESSAGES/django.po
  locale/hi/LC_MESSAGES/djangojs.po
  locale/hin/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/djangojs.po
  locale/por/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/djangojs.po
  locale/pt/LC_MESSAGES/django.po
  locale/pt/LC_MESSAGES/djangojs.po
  locale/sw/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/djangojs.po
Owners: none

Update CaseProperty.group_obj.name with CaseProperty.group_name
  corehq/apps/data_dictionary/management/commands/populate_case_prop_groups.py
  corehq/apps/data_dictionary/static/data_dictionary/js/data_dictionary.js
Owners: @esoergel, @orangejenny

Rename group_obj to group
  corehq/apps/data_dictionary/management/commands/populate_case_prop_groups.py
  corehq/apps/data_dictionary/util.py
  corehq/apps/data_dictionary/views.py
  migrations.lock
Owners: @esoergel, @orangejenny

Remove group field from CaseProperty model and rename group_obj to group
  corehq/apps/data_dictionary/management/commands/populate_case_prop_groups.py
  corehq/apps/data_dictionary/migrations/0016_remove_caseproperty_group.py
  corehq/apps/data_dictionary/migrations/0017_rename_group_obj_caseproperty_group.py
  corehq/apps/data_dictionary/models.py
  corehq/apps/data_dictionary/tests/test_view.py
  corehq/apps/data_dictionary/util.py
  corehq/apps/data_dictionary/views.py
  corehq/apps/linked_domain/local_accessors.py
  corehq/apps/linked_domain/updates.py
  migrations.lock
Owners: @esoergel, @orangejenny, @gherceg

add helper for exceeded max retries on repeat record
  corehq/motech/repeaters/models.py
  corehq/motech/repeaters/tasks.py
  corehq/motech/repeaters/tests/test_models.py
Owners: @kaapstorm

Add `geo_shape` filter (includes type hints)
  corehq/apps/es/filters.py
  corehq/apps/es/tests/test_filters.py
Owners: @esoergel, @amitphulera

`geo_bounding_box` filter to use `geo_shape`
  corehq/apps/es/filters.py
  corehq/apps/es/tests/test_filters.py
Owners: @esoergel, @amitphulera

Define GEOPOINT_VALUE constant
  corehq/apps/case_search/const.py
  corehq/apps/es/case_search.py
  corehq/apps/es/mappings/case_search_mapping.py
  corehq/pillows/case_search.py
Owners: @esoergel, @amitphulera, @calellowitz

Better defaults, and instructions on changing them
  dev_settings.py
Owners: none

Add geopoint case property to gps_props
  corehq/pillows/case_search.py
Owners: @calellowitz, @amitphulera

Use constants in case search mapping
  corehq/apps/es/mappings/case_search_mapping.py
Owners: @esoergel, @amitphulera

isort
  corehq/apps/geospatial/reports.py
Owners: none

Drop `get_paginated_geohashes()` view
  corehq/apps/geospatial/urls.py
  corehq/apps/geospatial/views.py
Owners: none

Refactor: geo_shape filter is optional.
  corehq/apps/geospatial/reports.py
  corehq/apps/geospatial/tests/test_reports.py
Owners: none

CaseGroupingReport filters by polygon
  corehq/apps/geospatial/reports.py
Owners: none

Apply geohash grid aggregation
  corehq/apps/geospatial/es.py
  corehq/apps/geospatial/reports.py
  corehq/apps/geospatial/tests/test_es.py
Owners: none

Nits
  corehq/apps/es/aggregations.py
  corehq/apps/es/es_query.py
  corehq/apps/geospatial/urls.py
Owners: @esoergel, @amitphulera

add tests for _process_repeat_record
  corehq/motech/repeaters/tests/test_tasks.py
Owners: @kaapstorm

reorganize _process_repeat_record logic
  corehq/motech/repeaters/tasks.py
Owners: @kaapstorm

lists alerts
  corehq/apps/domain/static/domain/js/manage_alerts.js
  corehq/apps/domain/templates/domain/admin/manage_alerts.html
  corehq/apps/domain/views/settings.py
Owners: @orangejenny

stop unpausing repeaters on delete
  corehq/motech/repeaters/models.py
  corehq/motech/repeaters/tests/test_repeater.py
  corehq/motech/repeaters/tests/test_tasks.py
Owners: @kaapstorm

adds ability to set alert status
  corehq/apps/domain/templates/domain/admin/manage_alerts.html
  corehq/apps/domain/views/settings.py
Owners: @orangejenny

tracks closed domain alerts in cookie
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap3/main.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/main.js
  corehq/apps/hqwebapp/templates/hqwebapp/partials/bootstrap3/maintenance_alerts.html
  corehq/apps/hqwebapp/templates/hqwebapp/partials/bootstrap5/maintenance_alerts.html
Owners: @orangejenny

force reindex
  corehq/apps/userreports/_design/views/active_data_sources/map.js
Owners: @calellowitz

check if table exists before including
  corehq/apps/userreports/pillow.py
Owners: @calellowitz

address flake8 errors
  corehq/apps/userreports/pillow.py
Owners: @calellowitz

Use group.name instead of prop.group_name
  corehq/apps/data_dictionary/static/data_dictionary/js/data_dictionary.js
Owners: @esoergel, @orangejenny

fix spelling
  corehq/apps/app_manager/static/app_manager/js/details/column.js
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

use correct attribute name and update XML model
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/suite_xml/xml_models.py
Owners: @orangejenny

DRY applying aggregation to query
  corehq/apps/geospatial/es.py
  corehq/apps/geospatial/reports.py
Owners: none

Update dependabot.yml to check Github actions
  .github/dependabot.yml
Owners: @orangejenny

remove travis build config
  .travis.yml
Owners: none

check for missing tables in get_adapters instead
  corehq/apps/userreports/pillow.py
Owners: @calellowitz

Add a partial index on delete_on for CommCareCase
  corehq/form_processor/migrations/0096_add_partial_index_cases.py
  corehq/form_processor/models/cases.py
  migrations.lock
Owners: @snopoke

create case UI mapping constants
  corehq/ex-submodules/casexml/apps/case/const.py
  corehq/ex-submodules/casexml/apps/case/xml/parser.py
Owners: none

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
