Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

Add form fields validation + saving password logic
  corehq/apps/email/forms.py
  corehq/apps/email/models.py
Owners: none

removes redundant tag
  corehq/apps/geospatial/templates/geospatial/map_visualization_base.html
  corehq/apps/geospatial/templates/map_visualization.html
Owners: @orangejenny

extracts base template for use for new pages
  corehq/apps/geospatial/templates/base_template.html
  corehq/apps/geospatial/templates/geospatial/map_visualization_base.html
Owners: @orangejenny

add action to detail field
  corehq/apps/app_manager/suite_xml/xml_models.py
Owners: @orangejenny

revert cluster routing which is causing tests to fail
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

create case group report view
  corehq/apps/geospatial/reports.py
  corehq/apps/geospatial/urls.py
  corehq/reports.py
Owners: none

remove case group dispatcher + view
  corehq/apps/geospatial/dispatchers.py
  corehq/apps/geospatial/urls.py
  corehq/apps/geospatial/views.py
Owners: none

boilerplate HTML template + JS
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
  corehq/apps/geospatial/templates/case_grouping_map.html
Owners: @orangejenny

Add unit tests + flake8 fixes
  corehq/apps/email/tests/__init__.py
  corehq/apps/email/tests/test_email_form.py
  corehq/apps/email/views.py
Owners: none

initial code to add action for detail fields
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/feature_support.py
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

Add feature flag required decorator to the view + flake8
  corehq/apps/email/tests/test_email_form.py
  corehq/apps/email/views.py
  urls.py
Owners: none

update elasticsearch 2 refernces with elasticsearch 5
  DEV_SETUP.md
  DEV_SETUP_MAC.md
Owners: none

add domain tag to blob metadata metrics
  corehq/blobs/metadata.py
Owners: @millerdev

Add @memoized back
  corehq/apps/userreports/custom/data_source.py
  corehq/apps/userreports/reports/util.py
  corehq/apps/userreports/sql/data_source.py
Owners: @calellowitz

PR fix for inverted dedupe properties
  corehq/apps/data_interfaces/static/data_interfaces/js/case_dedupe_main.js
Owners: @orangejenny

adds healthinfo types to care contexts
  custom/abdm/hip/models.py
  custom/abdm/hip/serializers/care_contexts.py
  custom/abdm/hip/views/care_contexts.py
  custom/abdm/migrations/0006_hipcarecontext_health_info_types.py
  migrations.lock
Owners: none

Modify command to target docs by old state value, use raw SQL to update values
  corehq/form_processor/management/commands/populate_missing_delete_on_values.py
Owners: @snopoke

Only show auto submitting forms
  corehq/apps/app_manager/models.py
  corehq/apps/app_manager/views/modules.py
Owners: @orangejenny

Test to make sure unique constraint prevents duplicate invoice
  corehq/apps/accounting/tests/test_race_condition_is_prevented.py
Owners: @dannyroberts, @biyeun

Group forms by modules
  corehq/apps/app_manager/static/app_manager/js/details/column.js
  corehq/apps/app_manager/views/modules.py
  corehq/apps/hqwebapp/static/hqwebapp/js/ui_elements/bootstrap3/ui-element-select.js
Owners: @orangejenny

save
  corehq/apps/geospatial/dispatchers.py
  corehq/apps/geospatial/reports.py
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/geospatial/gps_capture_base.html
  corehq/apps/geospatial/templates/geospatial/map_visualization_base.html
  corehq/apps/geospatial/templates/gps_capture.html
  corehq/apps/geospatial/templates/manage_gps_data.html
  corehq/reports.py
Owners: @orangejenny

extracts base_template
  corehq/apps/geospatial/templates/base_template.html
  corehq/apps/geospatial/templates/geospatial/map_visualization_base.html
  corehq/apps/geospatial/templates/manage_gps_data.html
  corehq/apps/geospatial/views.py
Owners: @orangejenny

removes duplicate tag load
  corehq/apps/geospatial/templates/geospatial/map_visualization_base.html
Owners: @orangejenny

removes redundant tag
  corehq/apps/geospatial/templates/map_visualization.html
Owners: @orangejenny

fixes view template name
  corehq/apps/geospatial/templates/gps_capture_view.html
  corehq/apps/geospatial/views.py
Owners: @orangejenny

fixes spacing
  corehq/apps/reports/generic.py
Owners: none

removes redundant messages
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

Save format correctly
  corehq/apps/app_manager/detail_screen.py
Owners: @orangejenny

adds filters in case tab
  corehq/apps/geospatial/templates/gps_capture_view.html
  corehq/apps/geospatial/views.py
Owners: @orangejenny

removes duplicate filter for search for cases
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

makes page leaner
  corehq/apps/geospatial/templates/gps_capture_view.html
Owners: @orangejenny

Add scroll to bottom button on small screen web apps case lists
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/menu.less
  corehq/apps/hqwebapp/static/hqwebapp/less/_hq/includes/variables.less
Owners: @orangejenny

Only show scroll to bottom when pagination offscreen
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
Owners: @orangejenny

Try create first
  corehq/apps/accounting/invoicing.py
  corehq/apps/accounting/models.py
  corehq/apps/accounting/tests/test_race_condition_is_prevented.py
Owners: @dannyroberts, @biyeun

Add default view and update context for email app main view
  corehq/apps/email/urls.py
  corehq/apps/email/views.py
Owners: none

Apply suggestions from code review
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

Set ES case_search replicas to 0 for dev envs
  dev_settings.py
Owners: none

run make requirements upgrade-package package=munch
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/prod-requirements.txt
  requirements/requirements.txt
  requirements/test-requirements.txt
Owners: @dimagi/dependency-watchers

run make requirements upgrade-package package=stripe
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/prod-requirements.txt
  requirements/requirements.txt
  requirements/test-requirements.txt
Owners: @dimagi/dependency-watchers

Additionally filter query by inclusion of deleted state
  corehq/form_processor/management/commands/populate_missing_delete_on_values.py
Owners: @snopoke

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
