Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

refactor: makes renderMapboxInput use named parameter
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/utils.js
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

feat: adds state,city,and zipcode to mapbox response for query
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Correctly generate suite.xml
  corehq/apps/app_manager/app_strings.py
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/app.js
Owners: @orangejenny

update attrs to 23.1.0
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/prod-requirements.txt
  requirements/requirements.txt
  requirements/test-requirements.txt
Owners: @dimagi/dependency-watchers

bug: fix keyword argument
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Populate multimedia map with clickable icons
  corehq/apps/hqmedia/models.py
Owners: none

Clickable icon UI
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/constants.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
Owners: @orangejenny

Cache `get_geo_(case|user)_property()`
  corehq/apps/geospatial/models.py
  corehq/apps/geospatial/tests/test_models.py
  corehq/apps/geospatial/utils.py
Owners: none

Remove jQuery event handlers onBeforeDetach instead of onDestroy
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

reduces code duplication
  corehq/apps/geospatial/views.py
  corehq/apps/reports/generic.py
Owners: none

Fix linting errors
  corehq/apps/app_manager/static/app_manager/js/details/column.js
  corehq/apps/app_manager/static/app_manager/js/details/utils.js
  corehq/apps/hqmedia/models.py
  corehq/apps/hqwebapp/static/hqwebapp/js/ui_elements/bootstrap3/ui-element-select.js
Owners: @orangejenny

import instead of passing initial_page_data
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/utils.js
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Fix bootstrap test
  corehq/apps/hqwebapp/static/hqwebapp/js/ui_elements/bootstrap5/ui-element-select.js
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/ui_elements/ui-element-select.js.diff.txt
Owners: @orangejenny

adds custom interface for Django's email get_connection
  corehq/ex-submodules/dimagi/utils/django/email.py
Owners: none

gets connection and passes to EmailMessage
  corehq/apps/hqwebapp/tasks.py
Owners: @orangejenny

get domain custom backend if configured and instantiate backend
  corehq/ex-submodules/dimagi/utils/django/email.py
Owners: none

Apply nit (combining filter into one Q object)
  corehq/form_processor/management/commands/populate_missing_delete_on_values.py
Owners: @snopoke

Fix Linting
  corehq/apps/app_manager/static/app_manager/js/details/column.js
  corehq/apps/hqwebapp/static/hqwebapp/js/ui_elements/bootstrap5/ui-element-select.js
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/ui_elements/ui-element-select.js.diff.txt
Owners: @orangejenny

use new EmailSettings model instead of supporting multiple backend cofigurations
  corehq/ex-submodules/dimagi/utils/django/email.py
Owners: none

Can't rely on being run in a specific order
  corehq/apps/geospatial/tests/test_utils.py
Owners: none

passes params set by filters to ajax URL
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

adds new filter for gps data
  corehq/apps/geospatial/filters.py
  corehq/apps/geospatial/views.py
Owners: none

inherits from CaseListMixin to parse filter params
  corehq/apps/geospatial/views.py
  corehq/apps/reports/standard/cases/basic.py
Owners: @esoergel

extract function
  corehq/apps/app_manager/suite_xml/sections/details.py
Owners: @orangejenny

dynamic computation of stack
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/suite_xml/features/case_tiles.py
  corehq/apps/app_manager/suite_xml/sections/details.py
Owners: @orangejenny

test with action form in child module
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

test with parent select
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

implement partition function for users
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

refactor loading user data
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

implement partition function for cases
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

refactor loading case data
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

move validation to build validators
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/helpers/validators.py
  corehq/apps/app_manager/templates/app_manager/partials/build_errors.html
Owners: @orangejenny

switch to 'push' frame
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

bug: from_address is not hooked up with new connection
  corehq/ex-submodules/dimagi/utils/django/email.py
Owners: none

try catch for initDatePicker function
  corehq/apps/cloudcare/static/cloudcare/js/utils.js
Owners: @orangejenny

add console.log statements
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Use the right db cursors before executing the raw sql
  corehq/form_processor/management/commands/populate_missing_delete_on_values.py
Owners: @snopoke

add more debugging lines
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
  corehq/apps/cloudcare/static/cloudcare/js/utils.js
Owners: @orangejenny

rename mapping var
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

Fix signature capture bug w/ incomplete forms
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
Owners: @orangejenny
