Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

Filter CustomerInvoice correctly
  corehq/apps/accounting/interface.py
  corehq/apps/accounting/views.py
Owners: @dannyroberts, @biyeun

Update ES stuff to use user_data
  corehq/apps/custom_data_fields/models.py
  corehq/apps/es/users.py
  corehq/apps/geospatial/views.py
  corehq/apps/users/analytics.py
Owners: @esoergel, @amitphulera

Remove last usages of metadata
  corehq/apps/api/resources/v0_1.py
  corehq/apps/ota/utils.py
  corehq/apps/users/models.py
Owners: @snopoke, @esoergel

add split_screen_dynamic_search to app_manager settings with set to True by default
  corehq/apps/app_manager/models.py
  corehq/apps/app_manager/static/app_manager/json/commcare-app-settings.yml
Owners: @orangejenny

isort
  corehq/apps/reports/generic.py
Owners: none

Replace comment with soft assert
  corehq/apps/reports/generic.py
Owners: none

Tests
  corehq/apps/reports/tests/test_generic.py
Owners: none

restrict web apps usage if too many mobile UCRs
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/main.js
  corehq/apps/cloudcare/templates/cloudcare/formplayer_home.html
  corehq/apps/cloudcare/views.py
  settings.py
Owners: @orangejenny

Add geo_grid filter
  corehq/apps/es/filters.py
  corehq/apps/es/tests/test_filters.py
Owners: @esoergel, @amitphulera

get_bucket_keys_for_page()
  corehq/apps/geospatial/es.py
  corehq/apps/geospatial/tests/test_es.py
Owners: none

Move rows() into subclasses, define query methods
  corehq/apps/geospatial/reports.py
Owners: none

disable live preview
  corehq/apps/cloudcare/static/cloudcare/js/preview_app/main.js
  corehq/apps/cloudcare/templates/preview_app/base.html
  corehq/apps/cloudcare/views.py
Owners: @orangejenny

disable live preview
  corehq/apps/cloudcare/static/cloudcare/js/preview_app/main.js
  corehq/apps/cloudcare/templates/preview_app/base.html
  corehq/apps/cloudcare/views.py
Owners: @orangejenny

squash later
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/main.js
Owners: @orangejenny

restrict web apps usage if too many mobile UCRs
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/main.js
  corehq/apps/cloudcare/templates/cloudcare/formplayer_home.html
  corehq/apps/cloudcare/views.py
  settings.py
Owners: @orangejenny

disable live preview
  corehq/apps/cloudcare/static/cloudcare/js/preview_app/main.js
  corehq/apps/cloudcare/templates/preview_app/base.html
  corehq/apps/cloudcare/views.py
Owners: @orangejenny

feat: uses user-defined results instance name as query block storage-instance
  corehq/apps/app_manager/suite_xml/post_process/remote_requests.py
  corehq/apps/app_manager/suite_xml/sections/entries.py
Owners: @orangejenny

Updated and refactored dedupe edit view tests
  corehq/apps/data_interfaces/tests/test_deduplication_rules.py
Owners: none

feat: renames session datum nodeset to match query storage-instance
  corehq/apps/app_manager/suite_xml/sections/entries.py
Owners: @orangejenny

feat: uses user defined instance name for detail block
  corehq/apps/app_manager/models.py
Owners: @orangejenny

Add temporary toggle to disable dedupe actions
  corehq/apps/data_interfaces/static/data_interfaces/js/case_dedupe_main.js
  corehq/apps/data_interfaces/templates/data_interfaces/edit_deduplication_rule.html
  corehq/apps/data_interfaces/tests/test_deduplication_rules.py
  corehq/apps/data_interfaces/views.py
  corehq/toggles/__init__.py
Owners: @orangejenny

combined the temporary dedupe action toggle with the existing dedupe toggle
  corehq/apps/data_interfaces/tests/test_deduplication_rules.py
  corehq/apps/data_interfaces/views.py
  corehq/toggles/__init__.py
Owners: none

feat: app validation for non-unique instance name configuration among modules
  corehq/apps/app_manager/helpers/validators.py
  corehq/apps/app_manager/templates/app_manager/partials/build_errors.html
Owners: @orangejenny

feat: build validation for allowable instance-names for result and search-input instances
  corehq/apps/app_manager/suite_xml/post_process/instances.py
Owners: @orangejenny

allows app build with both parent-select and inline case search on the parent/child module
  corehq/apps/app_manager/helpers/validators.py
  corehq/apps/app_manager/templates/app_manager/partials/build_errors.html
Owners: @orangejenny

feat: exclude cases already in local db from being claimed
  corehq/apps/app_manager/suite_xml/post_process/remote_requests.py
Owners: @orangejenny

refactor: pulls out adding post to entry
  corehq/apps/app_manager/suite_xml/sections/entries.py
Owners: @orangejenny

feat: claims parent cases if parent select is configured and active for the module
  corehq/apps/app_manager/suite_xml/sections/entries.py
Owners: @orangejenny

refactor date function
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

remove redundant comment
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

refactor retrieving case property
  corehq/apps/geospatial/reports.py
Owners: none

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
