Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

Add error messaging to user upload
  corehq/apps/user_importer/tasks.py
  corehq/apps/users/views/__init__.py
Owners: @stephherbers, @esoergel

Rename variables in remove_duplicate_domains
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Add --dry-run option to remove_duplicate_domains
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

try adding in es6 prefixed path
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/requirejs_config.js
Owners: @orangejenny

clear action triggers dynamic search
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Refactor code
  corehq/apps/reports/views.py
  corehq/apps/userreports/reports/util.py
  corehq/apps/userreports/reports/view.py
Owners: @calellowitz

Make remove_duplicate_domains output nicer
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Adjust score weights in remove_duplicate_domains
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Fix line length
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Add "smart" selection method option to remove_duplicate_domains
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Improve output of remove_duplicate_domains
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Remove redundant in remove_duplicate_domains
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Make remove_duplicate_domains go through domains in alphabetical order
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Fix lint errors
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Fix test error since we now disallow ALL when update is true
  corehq/apps/accounting/tests/test_admin_software_plans.py
Owners: @dannyroberts, @biyeun

Give doc updates a bit more weight in remove_duplicate_domains "smart" selection
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
Owners: none

Add tests for score_domain_doc and fix one of them
  corehq/apps/domain/management/commands/remove_duplicate_domains.py
  corehq/apps/domain/tests/test_remove_duplicate_domains.py
Owners: none

Fix stack creation for query datums and multi-select
  corehq/apps/app_manager/suite_xml/post_process/workflow.py
Owners: @orangejenny

Skips claim frame and adds query datum to the endpoint stack for inline search
  corehq/apps/app_manager/suite_xml/post_process/endpoints.py
Owners: @orangejenny

tests for inline case search endpoints
  corehq/apps/app_manager/tests/test_suite_session_endpoints.py
Owners: @orangejenny

lint
  corehq/apps/app_manager/suite_xml/post_process/endpoints.py
  corehq/apps/app_manager/tests/test_suite_session_endpoints.py
Owners: @orangejenny

check es_info.found_indices, not just found_indices
  corehq/apps/hqadmin/templates/hqadmin/doc_in_es.html
Owners: @orangejenny

show sql/couch doc regardless of es results, but only once
  corehq/apps/hqadmin/templates/hqadmin/doc_in_es.html
Owners: @orangejenny

Refactor code: Variable renaming, complexity reduction, remove redundant code
  corehq/apps/email/forms.py
  corehq/apps/email/models.py
  corehq/apps/email/views.py
  corehq/messaging/emailbackends/aws/models.py
Owners: @orangejenny, @mkangia

change toggle check to privilege check
  corehq/tabs/tabclasses.py
Owners: none

update documentation links
  corehq/apps/app_manager/templates/app_manager/partials/releases/releases_table.html
  corehq/apps/data_dictionary/templates/data_dictionary/base.html
  corehq/apps/reports/templates/reports/reportdata/case_data.html
Owners: @orangejenny, @esoergel

update documentation for updated jre
  DEV_SETUP.md
Owners: none

Refactor conditional branching
  corehq/apps/userreports/reports/view.py
Owners: @calellowitz

change input to text with additional validation
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

add new view
  corehq/apps/geospatial/reports.py
  corehq/reports.py
Owners: none

make new page work
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

make things better to work with
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

add source and clusters to the map
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

update data in the source
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

hide case markers
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

lint
  corehq/apps/geospatial/reports.py
Owners: none

replace missing gps modal with link
  corehq/apps/geospatial/templates/map_visualization.html
Owners: @orangejenny

rm COMMCARE_USER_TERM
  corehq/apps/hqwebapp/templatetags/hq_shared_tags.py
  corehq/apps/reports/models.py
  corehq/apps/reports/templates/reports/filters/filter_users.html
  settings.py
Owners: @orangejenny, @AddisonDunn

this extra mapping not needed
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/requirejs_config.js
Owners: @orangejenny

no longer need to attach bootstrap5 to window
  corehq/apps/hqwebapp/templates/hqwebapp/partials/requirejs.html
Owners: @orangejenny
