Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

update string to text/keyword in case_serach mappings
  corehq/apps/es/mappings/case_search_mapping.py
Owners: @esoergel, @amitphulera

update string to text/keyword in group mappings
  corehq/apps/es/mappings/group_mapping.py
Owners: @esoergel, @amitphulera

add es5 rather that es2 as dependency
  docker/hq-compose.yml
Owners: @millerdev

use case_id instead of _id
  corehq/apps/hqcase/api/get_list.py
Owners: @esoergel

get_aliases to support both es versions
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

support both es5 and es2 in task.get api
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

make changes to check_task_progress to accomodate previous change
  corehq/apps/es/utils.py
Owners: @esoergel, @amitphulera

update unit tests
  corehq/apps/geospatial/tests/test_views.py
Owners: none

minor improvement to produce correct count if reindex is restarted
  corehq/apps/es/utils.py
Owners: @esoergel, @amitphulera

fix: get_task tests
  corehq/apps/es/tests/test_client.py
Owners: @esoergel, @amitphulera

lint
  corehq/apps/es/utils.py
Owners: @esoergel, @amitphulera

fix tests as per new mappings
  corehq/apps/es/tests/test_client.py
  corehq/apps/es/tests/test_migration_operations.py
Owners: @esoergel, @amitphulera

hack to properly handle es6 dependencies in requirejs define
  corehq/apps/hqwebapp/static/hqwebapp/js/hqModules.js
Owners: @orangejenny

fix typo in name and don't tag with es6
  corehq/apps/hqwebapp/templates/hqwebapp/partials/requirejs.html
Owners: @orangejenny

re-add es6 prefix again just as a test for the build...maybe it was failing because of the name typo
  corehq/apps/hqwebapp/static/hqwebapp/js/500.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/common.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/hq-bug-report.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/sticky_tabs.js
  corehq/apps/hqwebapp/static/hqwebapp/js/hqModules.js
Owners: @orangejenny

Revert "re-add es6 prefix again just as a test for the build...maybe it was failing because of the name typo"
  corehq/apps/hqwebapp/static/hqwebapp/js/500.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/common.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/hq-bug-report.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/sticky_tabs.js
  corehq/apps/hqwebapp/static/hqwebapp/js/hqModules.js
Owners: @orangejenny

for @case_id provide custom sorting block
  corehq/apps/reports/standard/cases/case_list_explorer.py
Owners: @esoergel

for @case_id provide custom sorting block
  corehq/apps/reports/standard/cases/case_list_explorer.py
Owners: @esoergel

switch parent-child between SPLIT_SCREEN_CASE_SEARCH and DYNAMICALLY_UPDATE_SEARCH_RESULTS
  corehq/toggles/__init__.py
Owners: none

move location of DYNAMICALLY_UPDATE_SEARCH_RESULTS toggle declaration-- no logic change
  corehq/toggles/__init__.py
Owners: none

use geopoint in paginated views
  corehq/apps/geospatial/views.py
Owners: none

remove explicit conversion to string
  corehq/apps/app_manager/suite_xml/xml_models.py
Owners: @orangejenny

wording changes
  corehq/apps/geospatial/forms.py
Owners: none

change server error wording
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

simplify onClear
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/form_ui.js
Owners: @orangejenny

use case_id instead of _id
  corehq/apps/hqcase/api/get_list.py
Owners: @esoergel

make changes to check_task_progress to accomodate previous change
  corehq/apps/es/utils.py
Owners: @esoergel, @amitphulera

minor improvement to produce correct count if reindex is restarted
  corehq/apps/es/utils.py
Owners: @esoergel, @amitphulera

lint
  corehq/apps/es/utils.py
Owners: @esoergel, @amitphulera

support both es5 and es2 in task.get api
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

get_aliases to support both es versions
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

fix: get_task tests
  corehq/apps/es/tests/test_client.py
Owners: @esoergel, @amitphulera

for @case_id provide custom sorting block
  corehq/apps/reports/standard/cases/case_list_explorer.py
Owners: @esoergel

Update corehq/preindex/migrations/0002_initial.py
  corehq/preindex/migrations/0002_initial.py
Owners: none

Ensure the index will trigger a preindex
  corehq/preindex/couchviews.lock
  corehq/preindex/migrations/0002_initial.py
  migrations.lock
Owners: none

Modified the index with a comment to rebuild the domain index
  corehq/apps/domain/_design/views/domains/map.js
Owners: @orangejenny

reset xformAction in callbacks
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/web_form_session.js
Owners: @orangejenny

lint
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/web_form_session.js
Owners: @orangejenny

Add unit tests + code cleanup
  corehq/apps/domain/deletion.py
  corehq/apps/dump_reload/sql/dump.py
  corehq/apps/email/forms.py
  corehq/apps/email/models.py
  corehq/apps/email/templates/email/add_gateway.html
  corehq/apps/email/templates/email/gateway_list.html
  corehq/apps/email/tests/__init__.py
  corehq/apps/email/tests/test_views.py
  corehq/apps/email/urls.py
  corehq/apps/email/views.py
Owners: @orangejenny

test commenting out erroring code
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/main.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/sticky_tabs.js
Owners: @orangejenny

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
