Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

Inject system properties into deduplication dropdown options
  corehq/apps/data_interfaces/tests/test_views.py
  corehq/apps/data_interfaces/views.py
Owners: none

add iconClick method
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

locate place to handle response
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/app.js
Owners: @orangejenny

rename 'github-token' to 'token'
  .github/workflows/lint.yml
Owners: @orangejenny

update comment
  .github/workflows/update-translations.yml
Owners: @orangejenny

Test fix: Remove obsolete group str reference
  corehq/apps/data_dictionary/tests/test_view.py
  corehq/apps/linked_domain/local_accessors.py
  corehq/apps/linked_domain/tests/test_update_data_dictionary.py
  corehq/apps/linked_domain/updates.py
  corehq/apps/reports/standard/cases/case_data.py
  corehq/apps/reports/tests/test_case_data.py
  corehq/apps/userreports/tests/test_report_builder.py
Owners: @esoergel, @orangejenny, @gherceg, @calellowitz

update order or XML elements
  corehq/apps/app_manager/suite_xml/xml_models.py
Owners: @orangejenny

resets cookie on login
  corehq/apps/hqwebapp/views.py
Owners: @orangejenny

checks for toggle on view and link to view
  corehq/apps/domain/views/settings.py
  corehq/tabs/tabclasses.py
Owners: none

restricts admin view to global alerts
  corehq/apps/hqwebapp/views.py
Owners: @orangejenny

adds feature flag
  corehq/toggles/__init__.py
Owners: none

extracts setUpAlert function
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap3/main.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/main.js
Owners: @orangejenny

Drop type hints
  corehq/apps/es/filters.py
  corehq/apps/geospatial/es.py
Owners: @esoergel, @amitphulera

Fix test
  corehq/apps/geospatial/tests/test_es.py
Owners: none

Dropped a little too much. Put back param default
  corehq/apps/es/filters.py
Owners: @esoergel, @amitphulera

Extract metadata tests
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/tests/test_user_model.py
Owners: @esoergel

move profile updated logic to caller
  corehq/apps/users/forms.py
  corehq/apps/users/models.py
Owners: @esoergel

Simplify profile getter
  corehq/apps/user_importer/helpers.py
  corehq/apps/users/models.py
Owners: @stephherbers, @esoergel

tracks user for audit
  corehq/apps/domain/templates/domain/admin/manage_alerts.html
  corehq/apps/domain/views/settings.py
  corehq/apps/hqwebapp/migrations/0013_commcarehqalert_created_by_user.py
  corehq/apps/hqwebapp/models.py
  corehq/apps/hqwebapp/views.py
  migrations.lock
Owners: @orangejenny

updates repr function with new name
  corehq/apps/hqwebapp/models.py
  corehq/apps/hqwebapp/tests/test_models.py
  corehq/apps/hqwebapp/tests/test_views.py
Owners: @orangejenny

merges migrations
  corehq/apps/hqwebapp/migrations/0012_auto_20231006_1052.py
  corehq/apps/hqwebapp/migrations/0013_commcarehqalert_created_by_user.py
  migrations.lock
Owners: @orangejenny

renames function
  corehq/apps/hqwebapp/templates/hqwebapp/partials/bootstrap3/maintenance_alerts.html
  corehq/apps/hqwebapp/templates/hqwebapp/partials/bootstrap5/maintenance_alerts.html
  corehq/apps/hqwebapp/templatetags/hq_shared_tags.py
Owners: @orangejenny

adds model to be deleted with domain deletion
  corehq/apps/dump_reload/sql/dump.py
  corehq/apps/dump_reload/tests/test_dump_models.py
Owners: none

updates bootstrap diffs
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/hqwebapp/partials/maintenance_alerts.html.diff.txt
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/main.js.diff.txt
Owners: @orangejenny

Accept opts in hq.helpers.hqHelp
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap3/hq.helpers.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/hq.helpers.js
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/javascript/hqwebapp/hq.helpers.js.diff.txt
Owners: @orangejenny

Use auto bottom help placement for SSCS on small screens
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Add new class to manage user data
  corehq/apps/users/models.py
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @esoergel

be sure to wipe profile cache
  corehq/apps/users/user_data.py
Owners: @esoergel

Split up giant test for clarity
  corehq/apps/users/tests/test_user_data.py
Owners: @esoergel

Update profile management portion
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @esoergel

Add wrapper to web users
  corehq/apps/users/models.py
  corehq/apps/users/tests/test_user_data.py
Owners: @esoergel

Remove unused DD management command: populate_case_prop_groups
  corehq/apps/data_dictionary/management/commands/populate_case_prop_groups.py
Owners: @esoergel, @orangejenny

Update some easy references to user.metadata
  corehq/apps/api/tests/test_user_updates.py
  corehq/apps/app_manager/models.py
  corehq/apps/callcenter/sync_usercase.py
  corehq/apps/cloudcare/views.py
  corehq/apps/geospatial/tests/test_utils.py
  corehq/apps/geospatial/utils.py
  corehq/apps/geospatial/views.py
  corehq/apps/user_importer/tests/test_importer.py
  corehq/apps/userreports/tests/test_choice_provider.py
  corehq/apps/users/bulk_download.py
  corehq/apps/users/views/__init__.py
Owners: @orangejenny, @snopoke, @stephherbers, @calellowitz, @esoergel

avoids 500 when fetching alerts fails
  corehq/apps/hqwebapp/templatetags/hq_shared_tags.py
Owners: @orangejenny

removes redundant metric
  corehq/apps/hqwebapp/tasks.py
Owners: @orangejenny

removes redundant import
  corehq/apps/hqwebapp/tasks.py
Owners: @orangejenny

adds list view as default response
  corehq/apps/domain/views/settings.py
Owners: none

refactors post method
  corehq/apps/domain/views/settings.py
Owners: none

lint
  corehq/apps/domain/static/domain/js/manage_alerts.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap3/main.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/main.js
  corehq/apps/hqwebapp/views.py
Owners: @orangejenny

adds alert deletion
  corehq/apps/domain/templates/domain/admin/manage_alerts.html
  corehq/apps/domain/views/settings.py
Owners: @orangejenny
