Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

change data variable names
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
  corehq/apps/geospatial/templates/map_visualization.html
Owners: @orangejenny

rename url endpoint
  corehq/apps/geospatial/urls.py
Owners: none

update comment
  corehq/apps/geospatial/forms.py
Owners: none

Add lastUpdatedByUserInfo and createdByUserInfo to enrollments schema as well
  corehq/motech/dhis2/schema.py
  corehq/motech/dhis2/tests/data/tracked_entity_instance_1.json
Owners: @kaapstorm

add todo for documentation link
  corehq/apps/geospatial/forms.py
Owners: none

Revert base filter location filtering change
  corehq/apps/reports_core/filters.py
  corehq/apps/userreports/reports/util.py
  corehq/apps/userreports/reports/view.py
Owners: @calellowitz

update geospatial readme
  corehq/apps/geospatial/README.md
Owners: none

Fix var reference
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Fix reference and linting
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Check if selected location id is accessible in LocationDrilldownFilter
  corehq/apps/reports_core/filters.py
Owners: none

Remove unused domain arg from userreports/reports view
  corehq/apps/userreports/reports/view.py
Owners: @calellowitz

Support mapbox geocoder
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/manage_gps_data.html
Owners: @orangejenny

Fix linting
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

update template url references in styleguide to bootstrap3
  corehq/apps/styleguide/examples/simple_crispy_form/views.py
  corehq/apps/styleguide/tabs.py
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/atoms/colors.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/atoms/icons.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/buttons.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/checkboxes.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/checkboxes/checkboxes_form.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/feedback.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/inline_edit.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/modals.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/pagination.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/search_box.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/molecules/selections.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/organisms/forms.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/organisms/forms/basic_crispy.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/organisms/tables.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/pages/navigation.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/base_section.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/docs/simple_crispy_form/forms.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/docs/simple_crispy_form/views.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/example_html.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/home.html
  corehq/apps/styleguide/views/__init__.py
  corehq/apps/styleguide/views/docs.py
Owners: @orangejenny

move styleguide related images and css into bootstrap3 folder
  corehq/apps/styleguide/static/styleguide/bootstrap3/css/pycco-syntax.css
  corehq/apps/styleguide/static/styleguide/bootstrap3/images/font_docs/font_squirrel_settings.jpg
  corehq/apps/styleguide/static/styleguide/bootstrap3/images/font_docs/glyphs_character.png
  corehq/apps/styleguide/static/styleguide/bootstrap3/images/font_docs/glyphs_compare.png
  corehq/apps/styleguide/static/styleguide/bootstrap3/images/font_docs/glyphs_overview.png
  corehq/apps/styleguide/static/styleguide/bootstrap3/images/font_docs/vector_version.png
  corehq/apps/styleguide/static/styleguide/bootstrap3/images/page.png
Owners: @orangejenny

update form ID references to allow multiple for a single field + add tests
  corehq/apps/app_manager/models.py
  corehq/apps/linked_domain/tests/test_linked_apps.py
Owners: @orangejenny, @gherceg

lint
  corehq/apps/linked_domain/tests/test_linked_apps.py
Owners: @gherceg

Addressed PR feedback
  corehq/apps/data_interfaces/static/data_interfaces/js/case_dedupe_main.js
  corehq/apps/data_interfaces/templates/data_interfaces/edit_deduplication_rule.html
Owners: @orangejenny

Add clickable icon format if FF is set
  corehq/apps/app_manager/static/app_manager/js/details/utils.js
Owners: @orangejenny

further PR feedback tweaks
  corehq/apps/data_interfaces/static/data_interfaces/js/case_dedupe_main.js
Owners: @orangejenny

merge sync_usercase and sync_usercases
  corehq/apps/app_manager/tasks.py
  corehq/apps/callcenter/sync_usercase.py
  corehq/apps/callcenter/tests/test_utils.py
  corehq/apps/users/tests/retire.py
Owners: @orangejenny, @snopoke, @esoergel

rm sync fn used only in tests
  corehq/apps/callcenter/sync_usercase.py
  corehq/apps/callcenter/tests/test_indicators.py
  corehq/apps/callcenter/tests/test_location_owners.py
  corehq/apps/callcenter/tests/test_utils.py
Owners: @snopoke

isort
  corehq/apps/geospatial/views.py
Owners: none

Some scaffolding (includes type hints)
  corehq/apps/es/tests/test_esquery.py
  corehq/apps/geospatial/const.py
  corehq/apps/geospatial/dispatchers.py
  corehq/apps/geospatial/es.py
  corehq/apps/geospatial/reports.py
  corehq/apps/geospatial/tests/test_es.py
  corehq/apps/geospatial/urls.py
  corehq/apps/geospatial/utils.py
  corehq/apps/geospatial/views.py
Owners: @esoergel, @amitphulera

Define geo_bounding_box() as an ES query (incl)
  corehq/apps/case_search/const.py
  corehq/apps/es/case_search.py
  corehq/apps/es/mappings/case_search_mapping.py
  corehq/apps/es/queries.py
  corehq/apps/es/tests/test_case_search_es.py
  corehq/apps/es/tests/test_queries.py
  corehq/pillows/case_search.py
  testapps/test_pillowtop/tests/test_case_search_pillow.py
Owners: @esoergel, @amitphulera, @calellowitz

blue
  corehq/apps/es/client.py
Owners: @esoergel, @amitphulera

views.py: Bounding box is required for geohashes
  corehq/apps/geospatial/views.py
Owners: none

update references to static styleguide files
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/atoms/icons.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/_includes/pages/navigation.html
  corehq/apps/styleguide/templates/styleguide/bootstrap3/base_doc.html
Owners: @orangejenny

pedantic changes to sync_usercase
  corehq/apps/callcenter/sync_usercase.py
Owners: @snopoke

Remove try block because get_or_create will handle IntegrityError
  corehq/apps/accounting/invoicing.py
Owners: @dannyroberts, @biyeun

Check for location id in assigned locations and their descendants
  corehq/apps/reports_core/filters.py
  corehq/apps/userreports/reports/util.py
Owners: @calellowitz

Email gateway app changes
  corehq/apps/email/__init__.py
  corehq/apps/email/forms.py
  corehq/apps/email/migrations/0001_email_settings.py
  corehq/apps/email/migrations/__init__.py
  corehq/apps/email/models.py
  corehq/apps/email/templates/email/email_settings.html
  corehq/apps/email/urls.py
  corehq/apps/email/views.py
  corehq/tabs/tabclasses.py
  corehq/toggles/__init__.py
  migrations.lock
  settings.py
  urls.py
Owners: @orangejenny

--wip-- [skip ci]
  corehq/apps/es/README.rst
  corehq/apps/es/case_search.py
  corehq/apps/es/es_query.py
  corehq/apps/es/filters.py
  corehq/apps/es/queries.py
  corehq/apps/es/tests/test_case_search_es.py
  corehq/apps/geospatial/es.py
  corehq/apps/geospatial/tests/test_es.py
  corehq/apps/geospatial/urls.py
  corehq/apps/geospatial/utils.py
  corehq/apps/geospatial/views.py
Owners: @esoergel, @amitphulera

Refactor to only get stickyHeader element once
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Stubs for CaseGroupingMap
  corehq/apps/geospatial/const.py
  corehq/apps/geospatial/dispatchers.py
  corehq/apps/geospatial/es.py
  corehq/apps/geospatial/urls.py
  corehq/apps/geospatial/views.py
Owners: none

Add drop down for action form and save the setting
  corehq/apps/app_manager/models.py
  corehq/apps/app_manager/static/app_manager/js/details/column.js
  corehq/apps/app_manager/templates/app_manager/module_view.html
  corehq/apps/app_manager/views/modules.py
Owners: @orangejenny

Email app migrations
  corehq/apps/email/migrations/0001_initial.py
  migrations.lock
Owners: none

update string to text/keyword in user mappings
  corehq/apps/es/mappings/user_mapping.py
Owners: @esoergel, @amitphulera

fix remaining tests
  corehq/apps/es/tests/test_command_make_elastic_migration.py
Owners: @esoergel, @amitphulera

Add domain name to context and methods cleanup
  corehq/apps/email/migrations/0001_email_settings.py
  corehq/apps/email/views.py
Owners: none

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
