Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

Make SSCS sidebar collapsible on small screens
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/query.less
Owners: @orangejenny

Style collapsible SSCS search bar and button
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/content.less
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/query.less
Owners: @orangejenny

Add 'x' to close expanded search filters
  corehq/apps/cloudcare/templates/formplayer/query_view.html
Owners: @orangejenny

Use CSS to compute max breadcrumb width to avoid overflow/wrap
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/breadcrumbs.less
Owners: @orangejenny

Make case list header sticky on small screens in SSCS
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/content.less
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/menu.less
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/query.less
Owners: @orangejenny

Scroll on map pin click to correct location
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Scroll to top of search filters on expanding
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/constants.js
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Fix missing sidebar at 992px wide screen
  corehq/apps/cloudcare/static/cloudcare/js/utils.js
Owners: @orangejenny

Size small screen case list map based on screen height
  corehq/apps/hqwebapp/static/cloudcare/less/formplayer-webapp/menu.less
Owners: @orangejenny

Collapse search filters with search button
  corehq/apps/cloudcare/templates/formplayer/query_view.html
Owners: @orangejenny

Revert "Revert "re-add es6 prefix again just as a test for the build...maybe it was failing because of the name typo""
  corehq/apps/hqwebapp/static/hqwebapp/js/500.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/common.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/hq-bug-report.js
  corehq/apps/hqwebapp/static/hqwebapp/js/bootstrap5/sticky_tabs.js
  corehq/apps/hqwebapp/static/hqwebapp/js/hqModules.js
Owners: @orangejenny

try once again es6 prefix
  corehq/apps/hqwebapp/templates/hqwebapp/partials/requirejs.html
Owners: @orangejenny

saves work again
  custom/abdm/README.md
  custom/abdm/const.py
  custom/abdm/cyrpto.py
  custom/abdm/encryption_util.py
  custom/abdm/exceptions.py
  custom/abdm/hip/exceptions.py
  custom/abdm/hip/integrations.py
  custom/abdm/hip/serializers/consents.py
  custom/abdm/hip/tasks.py
  custom/abdm/hip/views/consents.py
  custom/abdm/hip/views/health_information.py
  custom/abdm/hiu/const.py
  custom/abdm/hiu/exceptions.py
  custom/abdm/hiu/serializers/consents.py
  custom/abdm/hiu/tasks.py
  custom/abdm/hiu/urls.py
  custom/abdm/hiu/views/base.py
  custom/abdm/hiu/views/consents.py
  custom/abdm/hiu/views/health_information.py
  custom/abdm/serializers.py
  custom/abdm/settings.py
  custom/abdm/tests/test_errors.py
  custom/abdm/utils.py
Owners: none

Update corehq/apps/domain/forms.py
  corehq/apps/domain/forms.py
Owners: none

Add 'note' field to Invoice models and ensure non-null defaults
  corehq/apps/accounting/migrations/0086_add_note_in_invoice_models.py
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

Refactor: simplify populating the note field by using update
  corehq/apps/accounting/migrations/0086_add_note_in_invoice_models.py
Owners: @dannyroberts, @biyeun

Disable the ALL option when running with --update
  corehq/apps/accounting/management/commands/list_customer_billing_account_software_plan.py
Owners: @dannyroberts, @biyeun

Add unit tests + code cleanup
  corehq/apps/domain/deletion.py
  corehq/apps/dump_reload/sql/dump.py
  corehq/apps/email/forms.py
  corehq/apps/email/models.py
  corehq/apps/email/templates/email/add_gateway.html
  corehq/apps/email/templates/email/gateway_list.html
  corehq/apps/email/tests/__init__.py
  corehq/apps/email/tests/test_views.py
  corehq/apps/email/urls.py
  corehq/apps/email/views.py
Owners: @orangejenny

Fix call to log the table migrate
  corehq/apps/userreports/management/commands/add_inserted_at_index.py
Owners: @calellowitz

default to 0 for altitude/accuracy
  corehq/apps/geospatial/utils.py
Owners: none

refactor code
  corehq/apps/geospatial/utils.py
  corehq/apps/geospatial/views.py
Owners: none

fix data dictionary unit test
  corehq/apps/data_dictionary/tests/test_view.py
Owners: @esoergel, @orangejenny

move success banner to top of page
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

update unit tests
  corehq/apps/geospatial/tests/test_utils.py
Owners: none

hide deprecated gps props
  corehq/apps/geospatial/static/geospatial/js/geo_config.js
Owners: @orangejenny

Fix linting: Unused imports
  corehq/apps/api/util.py
Owners: none

Linting: Fix backslash issue
  corehq/apps/api/util.py
Owners: none

Update conditional check
  custom/dfci_swasth/rules/custom_actions.py
Owners: none

Refactor code
  corehq/apps/reports/views.py
Owners: none

add input validation
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
  corehq/apps/geospatial/templates/gps_capture.html
Owners: @orangejenny

Refactor code: Make db transaction atomic
  corehq/apps/email/models.py
Owners: none

Refactor code
  corehq/apps/reports/views.py
  corehq/apps/userreports/reports/util.py
  corehq/apps/userreports/reports/view.py
Owners: @calellowitz

Fix grammar issue
  corehq/apps/accounting/management/commands/list_customer_billing_account_software_plan.py
Owners: @dannyroberts, @biyeun

disable dynamic search if reponse type is query
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/controller.js
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Corrected an xform pillow assertion and formatting
  corehq/pillows/xform.py
Owners: @calellowitz, @amitphulera

lint
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

change helper function names
  corehq/apps/geospatial/tests/test_utils.py
  corehq/apps/geospatial/utils.py
  corehq/apps/geospatial/views.py
Owners: none

remove validation from view
  corehq/apps/geospatial/views.py
Owners: none

fix incorrect function rename
  corehq/apps/geospatial/tests/test_utils.py
  corehq/apps/geospatial/utils.py
Owners: none

Ensure duplicate menu instances are merged
  corehq/apps/app_manager/suite_xml/post_process/instances.py
  corehq/apps/app_manager/tests/test_suite_instances.py
Owners: @orangejenny
