Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @joxl, @millerdev, @proteusvacuum, @snopoke, @mkangia, @kaapstorm, @calellowitz, @esoergel, @dannyroberts, @biyeun, @gherceg, @dimagi/dependency-watchers

Update translations.
  locale/en/LC_MESSAGES/django.po
  locale/en/LC_MESSAGES/djangojs.po
  locale/es/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/djangojs.po
  locale/fr/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/djangojs.po
  locale/fra/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/djangojs.po
  locale/hi/LC_MESSAGES/django.po
  locale/hi/LC_MESSAGES/djangojs.po
  locale/hin/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/djangojs.po
  locale/por/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/djangojs.po
  locale/pt/LC_MESSAGES/django.po
  locale/pt/LC_MESSAGES/djangojs.po
  locale/sw/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/djangojs.po
Owners: none

Normalize whitespace in serializer-pickle-files.lock
  scripts/make-serializer-pickle-files
  serializer-pickle-files.lock
Owners: none

PhoneTime constructor requires a datetime
  corehq/apps/reports/standard/cases/data_sources.py
Owners: @proteusvacuum, @esoergel

Test
  corehq/apps/reports/tests/test_case_display.py
Owners: none

Just `datetime`
  corehq/apps/reports/standard/cases/data_sources.py
Owners: @proteusvacuum, @esoergel

Use a hint
  corehq/apps/reports/standard/cases/data_sources.py
Owners: @proteusvacuum, @esoergel

Tell the IDE there's going to be a problem
  corehq/util/timezones/conversions.py
Owners: @esoergel

Removed cmitfb scripts
  corehq/apps/app_manager/management/commands/migrate_all_apps_to_cmitfb.py
  corehq/apps/app_manager/management/commands/migrate_app_to_cmitfb.py
Owners: @orangejenny

Run make make serializer-pickle-files.lock
  serializer-pickle-files.lock
Owners: none

Remove unused variables assigned to result of metrics_gauge_task
  corehq/apps/case_importer/tasks.py
  corehq/motech/repeaters/tasks.py
Owners: @kaapstorm

Make code clear that metrics_gauge_task fn takes no args
  corehq/util/metrics/__init__.py
Owners: @esoergel

Fix indentation
  corehq/apps/sms/tasks.py
Owners: @millerdev, @orangejenny, @mkangia

Make metrics_gauge_task not use pickle serializer
  corehq/util/metrics/__init__.py
Owners: @esoergel

Improve command in scripts/make-serializer-pickle-files
  scripts/make-serializer-pickle-files
  serializer-pickle-files.lock
Owners: none

Remove old one-off migration and turn into utility
  corehq/apps/app_manager/migrations/0007_add_linked_app_fields_to_es.py
  corehq/util/django_migrations.py
Owners: @orangejenny, @esoergel

Automatically apply new case search mapping
  corehq/ex-submodules/pillowtop/migrations/0006_add_geopoint_to_case_seach_index.py
  migrations.lock
Owners: @dannyroberts, @calellowitz

Fix scripts/make-serializer-pickle-files compatability
  scripts/make-serializer-pickle-files
  serializer-pickle-files.lock
Owners: none

Renamed _create_casexml_2* functions
  corehq/apps/app_manager/suite_xml/sections/entries.py
  corehq/apps/app_manager/xform.py
Owners: @orangejenny

Run make serializer-pickle-files.lock
  serializer-pickle-files.lock
Owners: none

Make serial_task default to using the celery default serializer (json)
  corehq/util/decorators.py
Owners: @esoergel

Make autogenerate_build_task not use pickle serializer
  corehq/apps/app_manager/tasks.py
Owners: @orangejenny

Make all calls to serial_task explicitly set serializer='pickle'
  corehq/apps/app_manager/tasks.py
  corehq/apps/data_interfaces/tasks.py
  corehq/apps/export/tasks.py
  corehq/apps/locations/tasks.py
  corehq/apps/saved_reports/tasks.py
  corehq/apps/userreports/tasks.py
  corehq/form_processor/tasks.py
  corehq/pillows/tasks.py
  corehq/preindex/tasks.py
Owners: @orangejenny, @esoergel, @calellowitz, @snopoke, @joxl

Make serial_task let caller set serializer
  corehq/util/decorators.py
Owners: @esoergel

Make queue_scheduled_reports not use pickle serializer
  corehq/apps/saved_reports/tasks.py
Owners: none

Make queue_async_indicators not use pickle serializer
  corehq/apps/userreports/tasks.py
Owners: @calellowitz

Make resave_es_forms_with_unknown_user_type not use pickle serializer
  corehq/pillows/tasks.py
Owners: @calellowitz, @joxl

Make reprocess_archive_stubs not use pickle serializer
  corehq/form_processor/tasks.py
Owners: @snopoke

Make import_locations_async not use pickle serializer
  corehq/apps/locations/tasks.py
Owners: @esoergel

Make add_inferred_export_properties not use pickle serializer
  corehq/apps/export/tasks.py
Owners: none

Delete task decorator on make_async_build_v2
  corehq/apps/app_manager/tasks.py
Owners: @orangejenny

Fold make_async_build_v2 into autogenerate_build_task
  corehq/apps/app_manager/tasks.py
Owners: @orangejenny

Run make serializer-pickle-files.lock
  serializer-pickle-files.lock
Owners: none

Make preindex_couch_views not use pickle serializer
  corehq/preindex/tasks.py
  serializer-pickle-files.lock
Owners: none

Upgrade python dependencies requiring single point release bump
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/prod-requirements.txt
  requirements/requirements.txt
  requirements/test-requirements.txt
Owners: @dimagi/dependency-watchers

Lint pillows.core
  corehq/pillows/core.py
Owners: @calellowitz, @joxl

Add management command for printing Elasticsearch index mappings.
  corehq/pillows/management/__init__.py
  corehq/pillows/management/commands/__init__.py
  corehq/pillows/management/commands/print_elastic_mappings.py
  corehq/pillows/management/commands/tests/__init__.py
  corehq/pillows/management/commands/tests/test_utils.py
  corehq/pillows/management/commands/utils.py
Owners: @calellowitz, @joxl

Convert JSON mappings to python
  corehq/pillows/mappings/app_mapping.json
  corehq/pillows/mappings/app_mapping.py
  corehq/pillows/mappings/case_search_mapping.json
  corehq/pillows/mappings/case_search_mapping.py
  corehq/pillows/mappings/utils.py
Owners: @calellowitz, @joxl

Mark another flaky test.
  corehq/ex-submodules/couchforms/tests/test_analytics.py
Owners: none

Use global date formats for domain, group, and report_case mappings.
  corehq/pillows/mappings/domain_mapping.py
  corehq/pillows/mappings/group_mapping.py
  corehq/pillows/mappings/reportcase_mapping.py
Owners: @calellowitz, @joxl

Lint and sort mappings in preparation for changes
  corehq/pillows/mappings/app_mapping.py
  corehq/pillows/mappings/case_mapping.py
  corehq/pillows/mappings/case_search_mapping.py
  corehq/pillows/mappings/domain_mapping.py
  corehq/pillows/mappings/group_mapping.py
  corehq/pillows/mappings/reportcase_mapping.py
  corehq/pillows/mappings/reportxform_mapping.py
  corehq/pillows/mappings/sms_mapping.py
  corehq/pillows/mappings/user_mapping.py
  corehq/pillows/mappings/xform_mapping.py
Owners: @calellowitz, @joxl

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/Makefile @joxl

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/elastic.py @proteusvacuum @joxl
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @millerdev @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @joxl
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/case_search/ @proteusvacuum
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @proteusvacuum @joxl
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/standard/cases/ @proteusvacuum @esoergel
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @millerdev @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz
/corehq/util/es/ @joxl

/custom/icds_reports/ @calellowitz
/custom/icds_reports/templates/ @calellowitz
/custom/icds_reports/static/ @calellowitz

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev @joxl

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev @joxl
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @joxl
/testapps/test_elasticsearch/ @joxl

/yarn.lock @dimagi/dependency-watchers
