Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

Add knockoutjs binding for button behavior
  corehq/apps/email/forms.py
  corehq/apps/email/static/email/js/email_settings.js
Owners: @orangejenny

Update LocationFilter to handle non-CommCareUsers
  corehq/apps/data_interfaces/models.py
  corehq/apps/data_interfaces/tests/test_models.py
Owners: none

Refactor: get_most_recent_version becomes a classmethod of SoftwarePlanVersion
  corehq/apps/accounting/async_handlers.py
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

Add a happy path test
  corehq/apps/accounting/tests/test_software_plan_version_filter.py
Owners: @dannyroberts, @biyeun

remove configure grouping page
  corehq/apps/geospatial/static/geospatial/js/configure_case_grouping.js
  corehq/apps/geospatial/templates/configure_case_grouping.html
  corehq/apps/geospatial/urls.py
  corehq/apps/geospatial/views.py
  corehq/tabs/tabclasses.py
Owners: @orangejenny

add grouping settings to config page
  corehq/apps/geospatial/forms.py
  corehq/apps/geospatial/static/geospatial/js/geo_config.js
  corehq/apps/geospatial/templates/geospatial/settings.html
Owners: @orangejenny

refactor unit tests
  corehq/apps/geospatial/tests/test_views.py
Owners: none

refactor README
  corehq/apps/geospatial/README.md
Owners: none

isort
  corehq/apps/geospatial/tests/test_views.py
Owners: none

Refactor: change name
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

add case row order in context
  corehq/apps/geospatial/reports.py
Owners: none

add base case grouping template
  corehq/apps/geospatial/reports.py
  corehq/apps/geospatial/templates/geospatial/case_grouping_map_base.html
Owners: @orangejenny

add pagination menu
  corehq/apps/geospatial/templates/case_grouping_map.html
Owners: @orangejenny

create caseModel
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

create helper function to parse case item array
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

load cases into JS
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

Refactor: string to boolean
  corehq/apps/accounting/async_handlers.py
Owners: @dannyroberts, @biyeun

remove unnecessary JS import
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny

add click functionality
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

add property to entity
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/collections.js
Owners: @orangejenny

assign value to property
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/utils.js
Owners: @orangejenny

unit test
  corehq/apps/geospatial/tests/test_reports.py
Owners: none

Move metadata stuff to non-db tests
  corehq/apps/users/tests/test_user_data.py
Owners: @esoergel

Change dropdown text
  corehq/apps/accounting/forms.py
Owners: @dannyroberts, @biyeun

remove if check
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Set profile first when updating
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @esoergel

Ignore profile conflicts if they're the same
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @esoergel

Update user API handlers
  corehq/apps/api/tests/test_user_updates.py
  corehq/apps/api/user_updates.py
Owners: none

Use custom exception
  corehq/apps/api/tests/test_user_updates.py
  corehq/apps/api/user_updates.py
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @esoergel

s/profile/profile_name
  corehq/apps/user_importer/helpers.py
  corehq/apps/user_importer/importer.py
Owners: @stephherbers

Test change profile by name, not ID
  corehq/apps/user_importer/helpers.py
  corehq/apps/user_importer/tests/test_importer.py
Owners: @stephherbers

add in-use userreports couch views to UserReportsDataSourceCache
  corehq/apps/cachehq/cachemodels.py
Owners: none

Actually, I don't think these add anything
  corehq/apps/user_importer/tests/test_importer.py
Owners: @stephherbers

No need to re lookup the profile name
  corehq/apps/user_importer/helpers.py
  corehq/apps/user_importer/importer.py
Owners: @stephherbers

rename daily_notifications to all_notifications (sort alphabetically)
  corehq/apps/cachehq/cachemodels.py
Owners: none

add report_configs_by_domain despite being unused
  corehq/apps/cachehq/cachemodels.py
Owners: none

remove UserRole references in Couch cache code since it lives in SQL
  corehq/apps/cachehq/cachemodels.py
  settings.py
Owners: none

remove cache objects no longer in use
  corehq/apps/cachehq/cachemodels.py
  settings.py
Owners: none

remove misleading block of code
  corehq/apps/user_importer/helpers.py
  corehq/apps/user_importer/tests/test_importer.py
Owners: @stephherbers

allow profiles to overwrite blank fields
  corehq/apps/user_importer/tests/test_importer.py
  corehq/apps/users/tests/test_user_data.py
  corehq/apps/users/user_data.py
Owners: @stephherbers, @esoergel
