Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @joxl, @millerdev, @proteusvacuum, @snopoke, @mkangia, @kaapstorm, @calellowitz, @esoergel, @dannyroberts, @biyeun, @gherceg, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/Makefile @joxl

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/elastic.py @proteusvacuum @joxl
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @millerdev @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @joxl
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/case_search/ @proteusvacuum
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @proteusvacuum @joxl
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/standard/cases/ @proteusvacuum @esoergel
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @millerdev @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz
/corehq/util/es/ @joxl

/custom/icds_reports/ @calellowitz
/custom/icds_reports/templates/ @calellowitz
/custom/icds_reports/static/ @calellowitz

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev @joxl

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev @joxl
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @joxl
/testapps/test_elasticsearch/ @joxl

/yarn.lock @dimagi/dependency-watchers

Added instances to remote request
  corehq/apps/app_manager/suite_xml/post_process/instances.py
  corehq/apps/app_manager/suite_xml/post_process/remote_requests.py
  corehq/apps/app_manager/tests/data/suite/multi_select_case_list.xml
Owners: @orangejenny

added title_label property and feature_support function
  corehq/apps/app_manager/feature_support.py
  corehq/apps/app_manager/models.py
Owners: @orangejenny

Update staging.yaml
  scripts/staging.yaml
Owners: none

move checkbox to case view item template to allow adding/removing of case ids from new array selectCaseIds and adjust continue button text logic to account for those changes
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
  corehq/apps/cloudcare/templates/formplayer/case_list.html
Owners: @orangejenny

Update staging.yaml
  scripts/staging.yaml
Owners: none

Update staging.yaml
  scripts/staging.yaml
Owners: none

Update staging.yaml
  scripts/staging.yaml
Owners: none

Update staging.yaml
  scripts/staging.yaml
Owners: none

Update staging.yaml
  scripts/staging.yaml
Owners: none

removed conditional logic on endpoint, changed map function to set comprehension
  corehq/apps/ota/views.py
  corehq/ex-submodules/casexml/apps/case/cleanup.py
Owners: @snopoke

Added assertion for <entry> to test
  corehq/apps/app_manager/tests/test_suite_multi_select_case_list.py
Owners: @orangejenny

Update staging.yaml
  scripts/staging.yaml
Owners: none

Prune `domain` mapping as per #31207 (missed in conflict resolution)
  corehq/pillows/mappings/domain_mapping.py
Owners: @calellowitz, @joxl

Update `update_es_mapping` command with new options
  corehq/ex-submodules/pillowtop/management/commands/update_es_mapping.py
Owners: @dannyroberts, @calellowitz

Add migration to update mappings
  corehq/pillows/migrations/0001_elastic_v5_mapping_compatibility.py
  corehq/pillows/migrations/__init__.py
  corehq/pillows/utils.py
  migrations.lock
Owners: @calellowitz, @joxl

Don't prompt on --dry-run
  corehq/ex-submodules/pillowtop/management/commands/update_es_mapping.py
Owners: @dannyroberts, @calellowitz

remove get_queryset as it's not required
  corehq/motech/repeaters/models.py
Owners: @kaapstorm

Add ethiopian calendar expressions
  corehq/apps/userreports/expressions/date_specs.py
  corehq/apps/userreports/expressions/factory.py
  corehq/apps/userreports/tests/test_date_expressions.py
  corehq/apps/userreports/transforms/custom/date.py
Owners: @calellowitz

Use correct type in docs
  corehq/apps/userreports/expressions/date_specs.py
Owners: @calellowitz

Update corehq/apps/app_manager/xpath.py
  corehq/apps/app_manager/xpath.py
Owners: @orangejenny

Update corehq/apps/app_manager/suite_xml/post_process/remote_requests.py
  corehq/apps/app_manager/suite_xml/post_process/remote_requests.py
Owners: @orangejenny

Updated naming
  corehq/apps/app_manager/suite_xml/post_process/instances.py
  corehq/apps/app_manager/suite_xml/post_process/remote_requests.py
  corehq/apps/app_manager/tests/data/suite/multi_select_case_list.xml
Owners: @orangejenny

catch ResourceNotFound exception
  corehq/apps/hqmedia/models.py
Owners: none

Update staging.yaml
  scripts/staging.yaml
Owners: none

remove pending invites task
  corehq/apps/users/tasks.py
Owners: @esoergel

Make data dictionary property types into variables
  corehq/apps/data_dictionary/models.py
  corehq/apps/data_dictionary/util.py
  corehq/apps/data_dictionary/views.py
  corehq/apps/es/tests/test_case_search_es.py
  corehq/pillows/case_search.py
Owners: @esoergel, @proteusvacuum, @joxl, @calellowitz

We only need gps props for now, make that clear
  corehq/apps/data_dictionary/models.py
  corehq/apps/data_dictionary/util.py
  corehq/apps/es/tests/test_case_search_es.py
  corehq/pillows/case_search.py
Owners: @esoergel, @proteusvacuum, @joxl, @calellowitz

Update to schema==0.7.5 and contextlib2==21.6.0
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/prod-requirements.txt
  requirements/requirements.txt
  requirements/test-requirements.txt
Owners: @dimagi/dependency-watchers

Run make upgrade-requirements
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/prod-requirements.txt
  requirements/requirements.txt
  requirements/test-requirements.txt
Owners: @dimagi/dependency-watchers

stickler
  corehq/apps/es/tests/test_case_search_es.py
Owners: @esoergel, @proteusvacuum, @joxl

silence multimedia errors
  corehq/apps/hqmedia/tasks.py
Owners: none

Update staging.yaml
  scripts/staging.yaml
Owners: none

Move `fetch_elastic_mapping()` out of tests/utils (used by manage cmd)
  corehq/pillows/management/commands/print_elastic_mappings.py
  corehq/pillows/mappings/tests/test_test_utils.py
  corehq/pillows/mappings/tests/test_utils.py
  corehq/pillows/mappings/tests/utils.py
  corehq/pillows/mappings/utils.py
Owners: @calellowitz, @joxl

Update staging.yaml
  scripts/staging.yaml
Owners: none

Create serializer-pickle-files.lock and script
  .gitignore
  Makefile
  scripts/make-serializer-pickle-files
  serializer-pickle-files.lock
Owners: @joxl

Add scripts/test-serializer-pickle-files.sh
  docker/run.sh
  scripts/test-serializer-pickle-files.sh
Owners: @millerdev, @joxl

Code review: `update_mapping_migration_op()` doesn't need index_info obj
  corehq/pillows/migrations/0001_elastic_v5_mapping_compatibility.py
  corehq/pillows/utils.py
Owners: @calellowitz, @joxl

Code review: be explicit about what needs to be migrated
  corehq/pillows/migrations/0001_elastic_v5_mapping_compatibility.py
Owners: @calellowitz, @joxl

Remove should_encode argument from _get_header
  corehq/ex-submodules/phonelog/utils.py
Owners: none

Update staging.yaml
  scripts/staging.yaml
Owners: none
