Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

The dropdown links are a special-case
  corehq/apps/domain/views/base.py
  corehq/apps/enterprise/tasks.py
  corehq/apps/hqwebapp/templatetags/hq_shared_tags.py
  corehq/apps/users/models.py
Owners: @orangejenny, @esoergel

The domain links vary by view_name
  corehq/apps/domain/views/base.py
Owners: none

Remove unused interface
  corehq/apps/domain/views/base.py
Owners: none

Always make user select domain to direct to
  corehq/apps/domain/urls.py
  corehq/apps/domain/views/base.py
Owners: none

Super simple redirect-to-domain functionality
  corehq/apps/domain/views/base.py
  urls.py
Owners: none

Next view is always defined by this point
  corehq/apps/domain/views/base.py
Owners: none

Switch from view name to fn to support reports
  corehq/apps/domain/views/base.py
Owners: none

Simplify this function
  corehq/apps/domain/views/base.py
Owners: none

move functions to avoid staging conflict
  corehq/apps/hqwebapp/templatetags/hq_shared_tags.py
Owners: @orangejenny

Formatting cleanup for SignatureEntry template
  corehq/apps/cloudcare/templates/form_entry/templates.html
Owners: @orangejenny

ignores no-undef lint check
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

Remove unused conditional
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
Owners: @orangejenny

update comment
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

comment update
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

fix lint errors
  corehq/apps/geospatial/static/geospatial/js/gps_capture.js
Owners: @orangejenny

make markers more generic
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
  corehq/apps/geospatial/templates/map_visualization.html
Owners: @orangejenny

implement helper functions for managing users on map
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

implement user filter menu
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
  corehq/apps/geospatial/templates/geospatial/map_visualization_base.html
  corehq/apps/geospatial/templates/map_visualization.html
Owners: @orangejenny

implement modal lists for users on map
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
  corehq/apps/geospatial/templates/map_visualization.html
Owners: @orangejenny

js lint fixes
  corehq/apps/geospatial/static/geospatial/js/geospatial_map.js
Owners: @orangejenny

don't pass default arg
  corehq/apps/es/tests/test_migration_operations.py
Owners: @esoergel, @amitphulera

rm COMMCARE_USER_TERM
  corehq/apps/hqwebapp/templatetags/hq_shared_tags.py
  corehq/apps/reports/models.py
  corehq/apps/reports/templates/reports/filters/filter_users.html
  settings.py
Owners: @orangejenny, @AddisonDunn

Remove unused method
  corehq/apps/reports/models.py
Owners: @AddisonDunn

Add [Web Users] as default selection
  corehq/apps/reports/filters/users.py
Owners: none

Use user types tuple util consistently
  corehq/apps/reports/filters/users.py
  corehq/apps/reports/models.py
Owners: @AddisonDunn

Include webuser-owned cases by default
  corehq/apps/reports/standard/cases/utils.py
Owners: @esoergel

lint
  corehq/apps/reports/filters/users.py
  corehq/apps/reports/models.py
  corehq/apps/reports/standard/cases/utils.py
Owners: @AddisonDunn, @esoergel

Update test case to include web user
  corehq/apps/reports/tests/test_case_list_report.py
Owners: none

Limit scope of 'signature' appearance attribute
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/entries.js
Owners: @orangejenny

HIP Initiated Care Context Linking
  custom/abdm/const.py
  custom/abdm/exceptions.py
  custom/abdm/hip/const.py
  custom/abdm/hip/exceptions.py
  custom/abdm/hip/models.py
  custom/abdm/hip/serializers/care_contexts.py
  custom/abdm/hip/urls.py
  custom/abdm/hip/views/care_contexts.py
  custom/abdm/hiu/models.py
  custom/abdm/migrations/0005_hipcarecontext_hiplinkrequest.py
  custom/abdm/urls.py
  custom/abdm/user_auth/__init__.py
  custom/abdm/user_auth/const.py
  custom/abdm/user_auth/exceptions.py
  custom/abdm/user_auth/serializers.py
  custom/abdm/user_auth/urls.py
  custom/abdm/user_auth/views.py
  migrations.lock
Owners: none

Fix test
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/spec/entries_spec.js
Owners: @orangejenny

minor fix
  custom/abdm/user_auth/views.py
Owners: none

reset entry xform action by templateType
  corehq/apps/cloudcare/static/cloudcare/js/form_entry/web_form_session.js
Owners: @orangejenny

adds custom interface for Django's email get_connection
  corehq/ex-submodules/dimagi/utils/django/email.py
Owners: none

gets connection and passes to EmailMessage
  corehq/apps/hqwebapp/tasks.py
Owners: @orangejenny

get domain custom backend if configured and instantiate backend
  corehq/ex-submodules/dimagi/utils/django/email.py
Owners: none

everything in this class was redundant
  corehq/apps/reports/standard/cases/basic.py
  corehq/apps/reports/standard/inspect.py
Owners: @esoergel

Remove now-useless class
  corehq/apps/reports/generic.py
Owners: none

Add web users to Worker Activity Report
  corehq/apps/reports/standard/monitoring.py
Owners: none

prefactor: run isort
  corehq/apps/reports/tests/test_tasks.py
Owners: none

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
