Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @proteusvacuum, @snopoke, @mkangia, @kaapstorm, @esoergel, @calellowitz, @dannyroberts, @biyeun, @Rohit25negi

Don't translate placeholders
  corehq/apps/app_manager/templates/app_manager/partials/modules/case_search_properties.html
Owners: @orangejenny, @proteusvacuum

sms_api re-enable is_contact_active check for _allow_load_handlers method
  corehq/apps/sms/api.py
Owners: @millerdev, @orangejenny, @mkangia

WIP create explicit shadow children
  corehq/apps/app_manager/management/commands/create_shadow_children.py
  corehq/apps/app_manager/models.py
Owners: @orangejenny, @proteusvacuum

Require shadow-children to be real modules
  corehq/apps/app_manager/suite_xml/sections/entries.py
  corehq/apps/app_manager/suite_xml/sections/menus.py
  corehq/apps/app_manager/tests/data/suite/shadow_module_families_source_parent.xml
  corehq/apps/app_manager/tests/data/suite/shadow_module_families_source_parent_forms_only.xml
  corehq/apps/app_manager/tests/test_shadow_modules.py
  corehq/apps/app_manager/tests/test_suite_shadow_module.py
Owners: @orangejenny, @proteusvacuum

Failing test
  corehq/apps/app_manager/tests/test_shadow_modules.py
Owners: @orangejenny, @proteusvacuum

Add test for query_location_restricted_cases
  corehq/apps/reports/tests/test_esaccessors.py
Owners: none

Make web user lookup search case-insensitive
  corehq/apps/hqadmin/views/users.py
Owners: none

Update corehq/apps/hqadmin/views/users.py
  corehq/apps/hqadmin/views/users.py
Owners: none

updating migration files and moving under ff and resolving merge conflicts
  custom/icds_reports/migrations/0187_update_system_usage_report_view.py
  custom/icds_reports/migrations/0200_update_chm_ccs_view.py
  custom/icds_reports/migrations/0201_add_awc_site_code.py
  custom/icds_reports/reports/incentive.py
  custom/icds_reports/reports/take_home_ration.py
  custom/icds_reports/sqldata/exports/awc_infrastructure.py
  custom/icds_reports/sqldata/exports/children.py
  custom/icds_reports/sqldata/exports/demographics.py
  custom/icds_reports/sqldata/exports/pregnant_women.py
  custom/icds_reports/sqldata/exports/system_usage.py
  custom/icds_reports/tasks.py
  custom/icds_reports/utils/__init__.py
Owners: @calellowitz, @Rohit25negi

update staging.yaml
  scripts/staging.yaml
Owners: none

adding beta to system usage export
  custom/icds_reports/tasks.py
Owners: @calellowitz, @Rohit25negi

fixing tests
  custom/icds_reports/tests/agg_tests/test_export_data.py
Owners: @calellowitz, @Rohit25negi

remove this install step as `yarn install` already takes care of this.
  DEV_SETUP.md
Owners: none

for reasons that I'm not able to comprehend right now, hq's `xpath`, vellum's `xpath`, and `js-xpath` are all different versions...quite on purpose or else tests fail 😭🤯
  package.json
  yarn.lock
Owners: none

fixing tests
  custom/icds_reports/utils/aggregation_helpers/distributed/aww_incentive.py
Owners: @calellowitz, @Rohit25negi

update yarn lockfile
  yarn.lock
Owners: none

Added high-level docs to corehq/toggles.py
  corehq/toggles.py
Owners: none

Test entries for shadow children
  corehq/apps/app_manager/tests/test_shadow_modules.py
Owners: @orangejenny, @proteusvacuum

Fixed whitespace
  corehq/toggles.py
Owners: none

use latest version of js-xpath / same version as vellum
  package.json
  yarn.lock
Owners: none

update path to xpath in nodejs/xpathConfig
  corehq/apps/app_manager/xpath_validator/nodejs/xpathConfig.js
Owners: @orangejenny, @proteusvacuum

Only show pertinent forms for exclusion and allow saving shadow children in UI
  corehq/apps/app_manager/static/app_manager/js/modules/shadow_module_settings.js
  corehq/apps/app_manager/templates/app_manager/partials/modules/module_view_settings.html
  corehq/apps/app_manager/views/modules.py
Owners: @orangejenny, @proteusvacuum

Add some more TODOs
  corehq/apps/app_manager/management/commands/create_shadow_children.py
Owners: @orangejenny, @proteusvacuum

Removed expanded audio from formbuilder
  corehq/apps/app_manager/management/commands/get_domains_with_itext_usage.py
  corehq/apps/app_manager/tests/data/suite/app_expanded_audio.json
  corehq/apps/app_manager/tests/test_media_suite.py
  corehq/apps/app_manager/xform.py
Owners: @orangejenny, @proteusvacuum

Move pertinent excluded_form_ids from parent to child
  corehq/apps/app_manager/management/commands/create_shadow_children.py
  corehq/apps/app_manager/tests/test_create_child_module_command.py
Owners: @orangejenny, @proteusvacuum

Decimal to float in tests
  custom/icds_reports/tests/agg_tests/reports/test_awc_reports.py
Owners: @calellowitz, @Rohit25negi

Remove non-existent --list parameter
  corehq/sql_db/management/commands/migrate_multi.py
Owners: @snopoke

Only make new child modules once
  corehq/apps/app_manager/management/commands/create_shadow_children.py
  corehq/apps/app_manager/tests/test_create_child_module_command.py
Owners: @orangejenny, @proteusvacuum

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/elastic.py @proteusvacuum
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @millerdev @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @orangejenny
/corehq/apps/app_manager/ @orangejenny @proteusvacuum
/corehq/apps/callcenter/ @snopoke
/corehq/apps/case_search/ @proteusvacuum
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/couch_sql_migration/ @millerdev
/corehq/apps/es/ @esoergel @proteusvacuum
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/standard/cases/ @proteusvacuum
/corehq/apps/receiverwrapper/ @snopoke @proteusvacuum
/corehq/apps/sms*/ @millerdev @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts

/custom/icds_reports/ @calellowitz @Rohit25negi
/custom/icds_reports/templates/ @calellowitz @Rohit25negi
/custom/icds_reports/static/ @calellowitz @Rohit25negi

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/scripts/docker @millerdev
/scripts/vellum-to-hq @millerdev
