Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

update user importer code to use user_data wrapper
  corehq/apps/user_importer/helpers.py
  corehq/apps/user_importer/importer.py
  corehq/apps/user_importer/tests/test_importer.py
Owners: @stephherbers

management command to remove cases from ES if deleted
  corehq/apps/cleanup/management/commands/remove_deleted_cases_from_es.py
Owners: none

PEP8 line length for easier reading
  corehq/apps/app_manager/suite_xml/sections/details.py
  corehq/apps/app_manager/suite_xml/sections/entries.py
Owners: @orangejenny

user copyOf for appId
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

Fix SubscriptionForm to include required fields
  corehq/apps/accounting/forms.py
  corehq/apps/accounting/static/accounting/js/base_subscriptions_main.js
Owners: @dannyroberts, @biyeun

Make edition and visibility optional
  corehq/apps/accounting/async_handlers.py
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

script to clone cases
  corehq/reopen_polio_cases.py
Owners: none

get skipped case ids
  corehq/reopen_polio_cases.py
Owners: none

retains old db table & recreates migrations
  corehq/apps/hqwebapp/migrations/0011_auto_20231010_0950.py
  corehq/apps/hqwebapp/migrations/0011_rename_maintenancealert_commcarehqalert.py
  corehq/apps/hqwebapp/migrations/0012_auto_20231006_1052.py
  corehq/apps/hqwebapp/models.py
  migrations.lock
Owners: @orangejenny

Upate export datasource limit + default size
  corehq/apps/api/resources/v0_5.py
Owners: none

refactors to avoid branch conflicts for staging
  corehq/apps/dump_reload/sql/dump.py
  corehq/tabs/tabclasses.py
Owners: none

fix chunk number calculation
  corehq/reopen_polio_cases.py
Owners: none

pass case_ids to func + map old->new case ids in logs
  corehq/reopen_polio_cases.py
Owners: none

add case prop to reference old case id
  corehq/reopen_polio_cases.py
Owners: none

Calculates Retry-After value and return it when rate limiting an API
  corehq/apps/api/decorators.py
  corehq/apps/api/resources/meta.py
  corehq/project_limits/rate_counter/rate_counter.py
  corehq/project_limits/rate_limiter.py
Owners: none

adds a comment to function
  corehq/apps/hqwebapp/models.py
Owners: @orangejenny

Update corehq/project_limits/rate_counter/rate_counter.py
  corehq/project_limits/rate_counter/rate_counter.py
Owners: none

Replace invoice logo
  corehq/apps/accounting/invoice_pdf.py
  corehq/apps/accounting/static/accounting/images/Dimagi-Deep-Purple-Standard-Logo.jpg
Owners: @dannyroberts, @biyeun

Remove old logo file
  corehq/apps/accounting/static/accounting/images/Dimagi-Logo-RGB.jpg
Owners: @dannyroberts, @biyeun

Use `in` instead of `get()`
  corehq/motech/repeaters/forms.py
Owners: @kaapstorm

uses CharIdField for domain/userID columns
  corehq/apps/hqwebapp/migrations/0011_auto_20231010_0950.py
  corehq/apps/hqwebapp/models.py
Owners: @orangejenny

renames to a better name
  corehq/apps/hqwebapp/migrations/0011_add_new_columns_and_rename_model.py
  migrations.lock
Owners: @orangejenny

get correct app id and redirect
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

change request type
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views.js
Owners: @orangejenny

fixes migration name
  migrations.lock
Owners: none

Add back "Uncategorized" header
  corehq/apps/reports/standard/cases/case_data.py
Owners: @esoergel

Don't display case_name as unrecognized property
  corehq/apps/reports/standard/cases/case_data.py
Owners: @esoergel

Release DD_CASE_DATA feature flag
  corehq/apps/reports/standard/cases/case_data.py
  corehq/apps/reports/templates/reports/reportdata/case_data.html
  corehq/toggles/__init__.py
Owners: @esoergel, @orangejenny

Rename property tables now that its released
  corehq/apps/reports/standard/cases/case_data.py
  corehq/apps/reports/templates/reports/reportdata/case_data.html
Owners: @esoergel, @orangejenny

Group fields in a gray background with title "Software Plan"
  corehq/apps/accounting/forms.py
Owners: @dannyroberts, @biyeun

Clickable icons on tiles
  corehq/apps/cloudcare/templates/formplayer/case_list.html
Owners: @orangejenny

Change label
  corehq/apps/accounting/forms.py
Owners: @dannyroberts, @biyeun

Improve test
  corehq/apps/accounting/tests/test_software_plan_version_filter.py
Owners: @dannyroberts, @biyeun

Update translations
  locale/en/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/django.po
  locale/fr/LC_MESSAGES/django.po
  locale/fra/LC_MESSAGES/django.po
  locale/hi/LC_MESSAGES/django.po
  locale/hin/LC_MESSAGES/django.po
  locale/por/LC_MESSAGES/django.po
  locale/pt/LC_MESSAGES/django.po
  locale/sw/LC_MESSAGES/django.po
Owners: none

Add sns secret generation logic
  corehq/apps/email/views.py
Owners: none

Add button enable/disable logic for submit
  corehq/apps/email/forms.py
  corehq/apps/email/models.py
Owners: none

refactor
  corehq/apps/hqwebapp/models.py
Owners: @orangejenny

lets user know if alert isn't found
  corehq/apps/domain/views/settings.py
Owners: none

lets user know if unexpected command is received
  corehq/apps/domain/views/settings.py
Owners: none

add groupId property
  corehq/apps/geospatial/static/geospatial/js/case_grouping_map.js
Owners: @orangejenny
