Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

refactor reindex command with more accurated variable namings
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

add task id to the progress output
  corehq/apps/es/utils.py
Owners: @esoergel, @amitphulera

update model and suite XML with endpoint actions
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/models.py
  corehq/apps/app_manager/suite_xml/xml_models.py
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

update view
  corehq/apps/app_manager/static/app_manager/js/details/column.js
  corehq/apps/app_manager/templates/app_manager/module_view.html
  corehq/apps/app_manager/views/modules.py
Owners: @orangejenny

update build validation
  corehq/apps/app_manager/helpers/validators.py
  corehq/apps/app_manager/templates/app_manager/partials/build_errors.html
Owners: @orangejenny

remove unused method argument
  corehq/apps/app_manager/suite_xml/sections/details.py
Owners: @orangejenny

update linked apps test
  corehq/apps/linked_domain/tests/test_linked_apps.py
Owners: @gherceg

udpate toggle with parent
  corehq/toggles/__init__.py
Owners: none

rename var
  corehq/apps/app_manager/static/app_manager/js/details/column.js
Owners: @orangejenny

Revert "rename var"
  corehq/apps/app_manager/static/app_manager/js/details/column.js
Owners: @orangejenny

Revert "update model and suite XML with endpoint actions"
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/models.py
  corehq/apps/app_manager/suite_xml/xml_models.py
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

Revert "udpate toggle with parent"
  corehq/toggles/__init__.py
Owners: none

Revert "update view"
  corehq/apps/app_manager/static/app_manager/js/details/column.js
  corehq/apps/app_manager/templates/app_manager/module_view.html
  corehq/apps/app_manager/views/modules.py
Owners: @orangejenny

Revert "remove unused method argument"
  corehq/apps/app_manager/suite_xml/sections/details.py
Owners: @orangejenny

Revert "update linked apps test"
  corehq/apps/linked_domain/tests/test_linked_apps.py
Owners: @gherceg

Revert "update build validation"
  corehq/apps/app_manager/helpers/validators.py
  corehq/apps/app_manager/templates/app_manager/partials/build_errors.html
Owners: @orangejenny

Revert "Revert "remove unused method argument""
  corehq/apps/app_manager/suite_xml/sections/details.py
Owners: @orangejenny

Revert "Revert "update view""
  corehq/apps/app_manager/static/app_manager/js/details/column.js
  corehq/apps/app_manager/templates/app_manager/module_view.html
  corehq/apps/app_manager/views/modules.py
Owners: @orangejenny

Revert "Revert "udpate toggle with parent""
  corehq/toggles/__init__.py
Owners: none

Revert "Revert "update linked apps test""
  corehq/apps/linked_domain/tests/test_linked_apps.py
Owners: @gherceg

Revert "Revert "update model and suite XML with endpoint actions""
  corehq/apps/app_manager/detail_screen.py
  corehq/apps/app_manager/models.py
  corehq/apps/app_manager/suite_xml/xml_models.py
  corehq/apps/app_manager/tests/test_suite_formats.py
Owners: @orangejenny

Revert "Revert "update build validation""
  corehq/apps/app_manager/helpers/validators.py
  corehq/apps/app_manager/templates/app_manager/partials/build_errors.html
Owners: @orangejenny

Revert "Revert "rename var""
  corehq/apps/app_manager/static/app_manager/js/details/column.js
Owners: @orangejenny

rename property
  corehq/apps/app_manager/models.py
Owners: @orangejenny

improve get index count method
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

expose util to print count of both indices
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

Updated validation so forms in the current module get checked
  corehq/apps/app_manager/views/utils.py
Owners: @orangejenny

do not set replicas automatically
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

if replicas are not set within specified time, ask user to manually check the status
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

do not turn off index routing, this would be done manually
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

add util for displaying shard info
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

Refactor arbitrary_user for email testing purpose
  corehq/apps/accounting/tests/generator.py
  corehq/apps/accounting/tests/test_autopay.py
Owners: @dannyroberts, @biyeun

Fix TransactionManagementError
  corehq/apps/accounting/tests/test_autopay.py
Owners: @dannyroberts, @biyeun

Improve idempotency_key
  corehq/apps/accounting/payment_handlers.py
Owners: @dannyroberts, @biyeun

remove unused variable
  corehq/apps/es/management/commands/elastic_sync_multiplexed.py
Owners: @esoergel, @amitphulera

add elastic_sync_multiplexed in gevent enabled list
  manage.py
Owners: none

Fix "local variable 'email' referenced before assignment"
  corehq/apps/accounting/tests/generator.py
Owners: @dannyroberts, @biyeun

Better defaults, and instructions on changing them
  dev_settings.py
Owners: none

lint
  corehq/apps/accounting/tests/test_subscription_changes.py
Owners: @dannyroberts, @biyeun

Refactor: change domain to domain_name
  corehq/apps/accounting/tests/test_subscription_changes.py
Owners: @dannyroberts, @biyeun

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers
