Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @snopoke, @mkangia, @kaapstorm, @calellowitz, @amitphulera, @esoergel, @dannyroberts, @biyeun, @gherceg, @AddisonDunn, @stephherbers, @dimagi/dependency-watchers

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/form_processor/ @snopoke
/corehq/messaging/ @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @calellowitz @amitphulera
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke @calellowitz
/corehq/sql_proxy_accessors/ @snopoke
/corehq/sql_proxy_standby_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz
/corehq/warnings.py @millerdev

/corehq/apps/accounting/ @dannyroberts @biyeun
/corehq/apps/analytics/ @biyeun
/corehq/apps/app_manager/ @orangejenny
/corehq/apps/callcenter/ @snopoke
/corehq/apps/change_feed/ @dannyroberts
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/data_dictionary/ @esoergel @orangejenny
/corehq/apps/domain/decorators.py @esoergel
/corehq/apps/domain/auth.py @esoergel
/corehq/apps/es/ @esoergel @amitphulera
/corehq/apps/hqcase/ @esoergel
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/linked_domain/ @gherceg
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/resources/v0_6.py @AddisonDunn
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/models.py @AddisonDunn
/corehq/apps/reports/standard/cases/ @esoergel
/corehq/apps/reports/standard/tableau.py @AddisonDunn
/corehq/apps/receiverwrapper/ @snopoke
/corehq/apps/sms*/ @orangejenny @mkangia
/corehq/apps/smsbillables/ @dannyroberts @biyeun
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/user_importer/ @stephherbers
/corehq/apps/userreports/ @calellowitz
/corehq/apps/userreports/static/ @orangejenny
/corehq/apps/userreports/templates/ @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny
/corehq/ex-submodules/pillowtop @dannyroberts @calellowitz

/custom/covid/management/commands/ @stephherbers @AddisonDunn

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/package.json @dimagi/dependency-watchers

/scripts/docker @millerdev
/scripts/test-make-docs.sh @dimagi/dependency-watchers
/scripts/vellum-to-hq @millerdev

/requirements/ @dimagi/dependency-watchers

/testapps/test_pillowtop/ @amitphulera
/testapps/test_elasticsearch/ @amitphulera

/yarn.lock @dimagi/dependency-watchers

Drop the Late PMT 2019 custom report
  custom/abt/reports/__init__.py
  custom/abt/reports/late_pmt.py
Owners: none

run build_bootstrap5_diffs
  corehq/apps/hqwebapp/tests/data/bootstrap5_diffs/stylesheets/imports/includes_variables._variables.style.diff.txt
Owners: @orangejenny

add check to changeDateQueryField to see if date has changed before performing dynamic search to avoid unnecessary requests
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

isolate to just when dynamic search is enabled
  corehq/apps/cloudcare/static/cloudcare/js/formplayer/menus/views/query.js
Owners: @orangejenny

Increase EXPORT_DATASOURCE_DEFAULT_PAGINATION_LIMIT to 10k
  corehq/apps/api/resources/v0_5.py
Owners: none

after tests are run renable cluster routing so other tests can also create indices
  corehq/apps/es/tests/test_elastic_sync_multiplexed_command.py
Owners: @esoergel, @amitphulera

Refactor: simplify the if/else condition
  corehq/apps/email/forms.py
Owners: none

Add SES config set name field to email settings
  corehq/apps/email/forms.py
  corehq/apps/email/migrations/0001_initial.py
  corehq/apps/email/models.py
Owners: none

Refactor: lint errors
  corehq/apps/email/forms.py
  corehq/apps/email/static/email/js/email_settings.js
  corehq/apps/email/views.py
Owners: @orangejenny

Add hide/show and generate logic for sns secret field
  corehq/apps/email/forms.py
  corehq/apps/email/models.py
  corehq/apps/email/views.py
Owners: none

Add new software plan visibility
  corehq/apps/accounting/migrations/0088_add_new_softwareplan_visibility.py
  corehq/apps/accounting/models.py
  migrations.lock
Owners: @dannyroberts, @biyeun

Remove references to CaseProperty.group from DD
  corehq/apps/data_dictionary/management/commands/populate_case_prop_groups.py
  corehq/apps/data_dictionary/models.py
  corehq/apps/data_dictionary/static/data_dictionary/js/data_dictionary.js
  corehq/apps/data_dictionary/util.py
Owners: @esoergel, @orangejenny

add back method being used elsewhere in test
  corehq/apps/app_manager/views/utils.py
Owners: @orangejenny

Rename group_obj to group in DD
  corehq/apps/data_dictionary/management/commands/populate_case_prop_groups.py
  corehq/apps/data_dictionary/models.py
  corehq/apps/data_dictionary/tests/test_view.py
  corehq/apps/data_dictionary/util.py
  corehq/apps/linked_domain/local_accessors.py
  corehq/apps/linked_domain/updates.py
Owners: @esoergel, @orangejenny, @gherceg

Remove references to CaseProperty.group from DD
  corehq/apps/data_dictionary/management/commands/populate_case_prop_groups.py
  corehq/apps/data_dictionary/models.py
  corehq/apps/data_dictionary/static/data_dictionary/js/data_dictionary.js
  corehq/apps/data_dictionary/tests/test_view.py
  corehq/apps/data_dictionary/util.py
Owners: @esoergel, @orangejenny

Disable dry run mode (but keep the option)
  corehq/apps/cleanup/tasks.py
Owners: none

add comma
  corehq/apps/accounting/models.py
Owners: @dannyroberts, @biyeun

Don't fail usercase task on missing users
  corehq/apps/callcenter/tasks.py
  corehq/apps/users/models.py
Owners: @snopoke, @esoergel

Install mapbox.js in dependencies instead of mapbox cdn
  corehq/apps/cloudcare/templates/formplayer/dependencies.html
  package.json
Owners: @orangejenny, @dimagi/dependency-watchers

Update yarn.lock
  yarn.lock
Owners: @dimagi/dependency-watchers

lint
  corehq/apps/accounting/async_handlers.py
Owners: @dannyroberts, @biyeun

Add two filters for software plan search
  corehq/apps/accounting/async_handlers.py
  corehq/apps/accounting/forms.py
  corehq/apps/accounting/static/accounting/js/subscriptions_main.js
Owners: @dannyroberts, @biyeun

Prevent HTML error on validating empty case property input
  corehq/apps/data_interfaces/static/data_interfaces/js/case_property_input.js
Owners: @orangejenny

move method to test class
  corehq/apps/app_manager/tests/views/test_utils.py
  corehq/apps/app_manager/views/utils.py
Owners: @orangejenny

add back old scope name
  corehq/apps/ota/decorators.py
  corehq/apps/receiverwrapper/tests/test_auth.py
  corehq/apps/receiverwrapper/views.py
  settings.py
Owners: @snopoke

Lint: use camel case
  corehq/apps/accounting/static/accounting/js/subscriptions_main.js
Owners: @dannyroberts, @biyeun

Increase EXPORT_DATASOURCE_DEFAULT_PAGINATION_LIMIT
  corehq/apps/api/resources/v0_5.py
Owners: none

adds view & form for new alert
  corehq/apps/domain/forms.py
  corehq/apps/domain/templates/domain/admin/manage_alerts.html
  corehq/apps/domain/urls.py
  corehq/apps/domain/views/settings.py
  corehq/tabs/tabclasses.py
Owners: @orangejenny

renames model to a better name
  corehq/apps/hqwebapp/migrations/0011_rename_maintenancealert_commcarehqalert.py
  corehq/apps/hqwebapp/models.py
  corehq/apps/hqwebapp/tasks.py
  corehq/apps/hqwebapp/templatetags/hq_shared_tags.py
  corehq/apps/hqwebapp/tests/test_models.py
  corehq/apps/hqwebapp/tests/test_views.py
  corehq/apps/hqwebapp/views.py
  migrations.lock
Owners: @orangejenny

saves alert
  corehq/apps/domain/views/settings.py
  corehq/apps/hqwebapp/migrations/0012_commcarehqalert_created_by_domain.py
  corehq/apps/hqwebapp/models.py
  migrations.lock
Owners: @orangejenny

add instance_name to model
  corehq/apps/app_manager/models.py
Owners: @orangejenny

Add basic UI for customizing instance names
  corehq/apps/app_manager/static/app_manager/js/details/case_claim.js
  corehq/apps/app_manager/templates/app_manager/partials/modules/case_search_properties.html
  corehq/apps/app_manager/views/modules.py
Owners: @orangejenny

lint
  corehq/apps/app_manager/static/app_manager/js/details/case_claim.js
Owners: @orangejenny

rename class and file
  corehq/apps/app_manager/tests/views/test_session_endpoint_utils.py
Owners: @orangejenny

forgot `self`
  corehq/apps/app_manager/tests/views/test_session_endpoint_utils.py
Owners: @orangejenny

Merge conflict resolution
  corehq/apps/data_dictionary/tests/test_view.py
Owners: @esoergel, @orangejenny

`form` is not defined in this scope
  corehq/apps/app_manager/views/utils.py
Owners: @orangejenny

Don't add shadow forms if editing that module
  corehq/apps/app_manager/views/utils.py
Owners: @orangejenny

Add test that fails before this PR
  corehq/apps/app_manager/tests/views/test_session_endpoint_utils.py
Owners: @orangejenny

Fix unit test
  corehq/apps/data_dictionary/models.py
  corehq/apps/data_dictionary/static/data_dictionary/js/data_dictionary.js
  corehq/apps/data_dictionary/tests/test_view.py
Owners: @esoergel, @orangejenny
