Repository dimagi/commcare-hq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangejenny, @millerdev, @proteusvacuum, @emord, @snopoke, @mkangia, @kaapstorm, @esoergel, @calellowitz, @gbova, @czue, @Rohit25negi

.github/CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

*.html @orangejenny
*.js @orangejenny
*.less @orangejenny

/.github/ @orangejenny

/corehq/blobs/ @millerdev
/corehq/elastic.py @proteusvacuum
/corehq/ex-submodules/casexml/apps/phone/data_providers/case/livequery.py @millerdev
/corehq/ex-submodules/pillowtop/ @emord
/corehq/form_processor/ @snopoke
/corehq/messaging/ @millerdev @orangejenny @mkangia
/corehq/motech/ @kaapstorm
/corehq/pillows/ @emord
/corehq/sql_accessors/ @snopoke
/corehq/sql_db/ @snopoke
/corehq/sql_proxy_accessors/ @snopoke
/corehq/tests/nose.py @millerdev
/corehq/tests/noseplugins/ @millerdev
/corehq/util/ @esoergel
/corehq/util/datadog/lockmeter.py @millerdev
/corehq/util/datadog/tests/test_lockmeter.py @millerdev
/corehq/warehouse/ @calellowitz

/corehq/apps/accounting/ @gbova
/corehq/apps/accounting/static/ @gbova @orangejenny
/corehq/apps/accounting/templates/ @gbova @orangejenny
/corehq/apps/analytics/ @orangejenny
/corehq/apps/app_manager/ @orangejenny @proteusvacuum
/corehq/apps/callcenter/ @snopoke
/corehq/apps/case_search/ @proteusvacuum
/corehq/apps/change_feed/ @emord
/corehq/apps/commtrack/ @esoergel
/corehq/apps/commtrack/static/ @esoergel @orangejenny
/corehq/apps/commtrack/templates/ @esoergel @orangejenny
/corehq/apps/couch_sql_migration/ @snopoke @millerdev
/corehq/apps/es/ @esoergel @proteusvacuum
/corehq/apps/hqwebapp/ @orangejenny
/corehq/apps/locations/ @esoergel
/corehq/apps/locations/adjacencylist.py @esoergel @millerdev
/corehq/apps/locations/static/ @esoergel @orangejenny
/corehq/apps/locations/templates/ @esoergel @orangejenny
/corehq/apps/ota/ @snopoke
/corehq/apps/reports/standard/cases/ @proteusvacuum
/corehq/apps/receiverwrapper/ @snopoke @proteusvacuum
/corehq/apps/sms*/ @millerdev @orangejenny @mkangia
/corehq/apps/smsbillables/ @gbova
/corehq/apps/smsbillables/static/ @gbova @orangejenny
/corehq/apps/styleguide/ @orangejenny
/corehq/apps/translations/app_translations/ @orangejenny
/corehq/apps/userreports/ @emord
/corehq/apps/userreports/static/ @emord @orangejenny
/corehq/apps/userreports/templates/ @emord @orangejenny
/corehq/apps/userreports/reports/builder/ @kaapstorm @emord
/corehq/apps/users/ @esoergel
/corehq/apps/users/static/ @esoergel @orangejenny
/corehq/apps/users/templates/ @esoergel @orangejenny

/custom/aaa/ @emord
/custom/icds_reports/ @calellowitz @czue @Rohit25negi

/docs/js-guide/ @orangejenny @millerdev

/docker/ @millerdev

/scripts/docker @millerdev
/scripts/vellum-to-hq @millerdev

update staging.yaml
  scripts/staging.yaml
Owners: none

Fix migration after merge
  custom/icds_reports/migrations/0139_index_intermediate_tables.py
Owners: @calellowitz, @czue, @Rohit25negi

Refactor: ColumnMapping.deserialize()
  corehq/motech/openmrs/models.py
  corehq/motech/openmrs/tasks.py
Owners: @kaapstorm

Test casting as date
  corehq/motech/openmrs/tests/test_tasks.py
Owners: @kaapstorm

Refactor: Use serializers
  corehq/motech/openmrs/const.py
  corehq/motech/openmrs/models.py
  corehq/motech/openmrs/serializers.py
Owners: @kaapstorm

OCD
  corehq/motech/openmrs/models.py
  corehq/motech/openmrs/serializers.py
Owners: @kaapstorm

Test casting as integer
  corehq/motech/openmrs/tests/test_tasks.py
Owners: @kaapstorm
